[2022-09-01 18:21] amandasegattob commented on #1268
Oi gente, coloquei uma segunda versão do reels seguindo algumas sugestões do @robisonjose

[2022-09-01 19:31] Saene99 commented on #1268
- O card do setembro amarelo está pronto, mas gostaria de opinião quanto as cores, pois não estou achando nenhum amarelo legal;
- Os stories do App Boas-Vindas estão prontos;
- Ignorem os parabéns da UFFS, pois são apenas esboços iniciais feios kkk

@minieradka revisa para mim, por gentileza :)

[2022-09-01 20:06] morgana-mo commented on #1255
Deixei uma primeira versão do Miguel de cervantes na pasta de entrada, bem como sua versão editável.
Aceito sugestões e pontamentos

[2022-09-01 22:11] robisonjose commented on #1268
@amandasegattob

1. As letras do PRACTICE podiam estar com cores diferentes (destacadas), para que ficasse mais explicito o nome. Além disso, o "I" podia estar centralizado com a palavra PRACTICE (ela está meio deslocada);
2. Os sons de erro e acertos não são muito bons. Acho que um bom som de erro é esse: https://www.youtube.com/watch?v=FCMfG5lHK5g&ab_channel=sons e um bom som de acerto é esse: h

[2022-09-01 22:20] robisonjose commented on #1268
Eu não sou do design mas vou dar pitaco. Eu gostei do card do setembro amarelo que tem um amarelo mais escuro e os simbolo do practice todo em branco.

Em relação ao storie do app eu não entendi bem qual é o correto, tá meio confuso, parece que eles ainda estão sendo terminados. Mas eu gostei da ideia, acho que ficou bem legal, e gostei mais da versão que tem os balõezinhos e que tem algumas palav

[2022-09-01 22:25] minieradka commented on #1268
Eu tô terminando de editar os stories de insta

[2022-09-01 22:26] robisonjose commented on #1268
Mas não faz sentido editar enquanto as pessoas revisam, se não a revisão não faz sentido

[2022-09-01 22:39] Eweline commented on #1268
Oi @Saene99 . Também não sou de design, mas gostaria de pedir para deixar as letras de "Mês de conscientização sobre o suicídio" mais grossas. Sei que outros cards já foram postados com o mesmo formato, só que fica um pouco difícil de ler, principalmente quando confunde-se com o fundo, e quando temos algum grau de problemas oftálmicos.

[2022-09-01 23:47] minieradka commented on #1268
estava revisando antes de vc comentar aqui....

[2022-09-02 00:08] minieradka commented on #1268
saene terminei a revisão, vou deixar comentarios pra ti ver as diferenças usei os mesmo elementos que tu colocou

[2022-09-02 00:59] minieradka commented on #1278
adicionei na pasta de saida

[2022-09-02 13:10] JuliaGaboardiB commented on #1284
Bom dia! Como vamos mudar a metodologia das equipes, vou encerrar a issue.

[2022-09-02 13:10] #1284 closed

[2022-09-02 13:37] JuliaGaboardiB commented on #1252
Bom dia! Vamos manter a ideia dos posts que foram comentadas nessa issue mesmo com a mudança das equipes. @alissonpeloso quando alguém puder iniciar a produção do conteúdo para encaminharmos para a produção dos cards.

[2022-09-02 13:43] minieradka commented on #971
essa logo deve ser criada seguindo os exemplos das demais aplicações do Practice. @Edu-F-Dias ficou responsável pela criação da nova versão. Assim q tiver adicione nas pasta para que a equipe do bem estar possa votar e escolher uma opção junto com os demais líderes e bolsistas.

[2022-09-02 13:55] Saene99 commented on #1268
Obrigada pela revisão @minieradka :)

Eu concordo contigo @Eweline ! Utilizei a fonte fina pois é o padrão das postagens, mas realmente ficou um pouco caótico com esse fundo, alterei para uma um pouco mais grossa. Obrigada pela sugestão.

Acrescentei essas artes revisadas na pasta de entrada caso alguém queira dar mais uma olhada. Vou deixar um tempinho lá, depois coloco na pasta de saída para ser

[2022-09-02 14:13] alissonpeloso commented on #1252
Eu criei um doc na pasta de entrada para a produção: https://docs.google.com/document/d/1BlrsQEoEc8fo6Yf6wvvf0jq90AAckx-sQ7nzVbePf74/edit

Acho que precisamos de alguém do design pra fazer o post e talvez melhorar a descrição.

[2022-09-02 14:14] morgana-mo commented on #1268
Oi Saene, as artes estão lindas!
Tenho algumas considerações:
1-A  fonte onde diz Mês de conscientização sobre o suicídio ainda está muito fina, talvez seja legal aumentar a um pouco a expessura para ficar melhor de ler, criei até um exemplo, eu apenas adicionei um stroke de 0,5
![Setembro amarelo-Exemplo morgana](https://user-images.githubusercontent.com/71781124/188167849-a7652924-2bdf-4a74-a71e

[2022-09-02 14:14] Edu-F-Dias commented on #971
Criei duas opções com diferentes cores. O formato circular foi escolhido por ser o mais simples em um app. Os símbolos remetem à uma pessoa com os braços abertos e há vibrações circulares harmônicas em torno. A opção com mãos remete ao cuidado. Me pareceu simples e agradável.

[2022-09-02 14:16] morgana-mo commented on #1252
Chei legal a ideia, vou solicitar a criação!

[2022-09-02 14:23] minieradka commented on #971
separei em pastas pra fins de organização. Achei ótimo, parabéns! A @brendaellen é responsável pelo App, irá dar continuidade, eu acho que seria legal uma votação ou sugestões dos demais membros. Pode adicionar o editável na pasta Eduardo? provavelmente será usado no Figma pelo @luizdameda

[2022-09-02 14:27] robisonjose commented on #1268
deixei uns comentários aleatórios nas artes (na própria imagem da pasta de entrada), mas são apenas relacionados a gosto pessoal ou tocs (provavelmente todos podem ser ignorados).

[2022-09-02 14:51] amandasegattob commented on #1270
Bom dia, a @julia-zanini colocou o material do primeiro vídeo na pasta de entrada, vou dar início à edição.
Conforme ela for colocando as gravações de tela, sigo para os outros 3.

[2022-09-02 17:07] julia-zanini commented on #1270
as gravações da tela do vídeo 2 estão feitas.
teve uma hora que fiquei meio perdida e tive que procurar coisas no meio do vídeo kkk vai ter que cortar

[2022-09-02 17:15] julia-zanini commented on #1270
no vídeo 3, no áudio 2, tem que cortar fora a parte que fala 01:16 até 01:22, que fala que a caixa de texto aumenta sozinha, não aumenta não. eu fiz a gravação da tela e ela não aumentou dai tem que cortar isso fora kk

[2022-09-02 17:58] julia-zanini commented on #1270
todas as gravações estão nas pastas na entrada. se houver necessidade de regravar algo, me avise

[2022-09-02 18:13] Saene99 opened #1286 "Criação das versões monocromáticas da ID do PRACTICE"
Essa issue tem por objetivo a criação das versões monocromática branca e monocromática preta da logo, marca d'água e símbolo do PRACTICE.

[2022-09-02 18:14] Saene99 commented on #1286
A criação deve ser feita [aqui](https://www.figma.com/file/7mSJAmvZqpqpniKkMong6x/Elementos-ID-visual?node-id=610%3A30).

[2022-09-02 18:38] Saene99 commented on #1286
As versões já estão na pasta de saída da issue.

[2022-09-02 18:55] Saene99 commented on #1268
Obrigada por todas as considerações, pessoal. Uma nova versão está na pasta :)

[2022-09-02 19:09] minieradka commented on #1286
da pra fazer as versões nas demais variações de cores, laranja amarelo e azul claro tbm

[2022-09-02 19:20] minieradka commented on #1286
eu fiz mas deixei no figma

[2022-09-03 02:08] amandasegattob commented on #1268
Coloquei duas novas versões na pasta de entrada.

- Alterei os sons de certo e errado;
- Coloquei cada palavra do nome do programa aparecendo conforme é narrado;
- Não coloquei o sinal em verde pq não achei nenhum que ficasse bom;
- Não destaquei as letras iniciais do nome pq o PR ficam juntos em uma palavra só, fazendo com que não ficasse harmonioso;
- A diferença das versões é duração da logo ao

[2022-09-03 13:25] MariaLuizaReviliau commented on #1283
Pode fazer então @Saene99
@Edu-F-Dias não precisa fazer esta tarefa.
Aguardo o material

[2022-09-03 14:31] #1281 closed

[2022-09-03 19:13] MariaLuizaReviliau commented on #1263
transmissão realizada e planilha atualizada.

[2022-09-03 19:13] #1263 closed

[2022-09-05 11:46] Saene99 commented on #1283
Bom dia! Assim que possível criarei as artes [aqui](https://www.figma.com/file/rDjp1gi5TtoulwYJr0aAWs/Material-para-Stories?node-id=749%3A2).

[2022-09-06 00:01] julia-zanini commented on #1270
@amandasegattob juntei, no vídeo 02, o áudio com o vídeo da parte 02, mas não acho que a qualidade da imagem ficou boa. você poderia ver para mim depois se ficou ruim para você também? está na pasta de entrada do vídeo 02

[2022-09-06 00:12] julia-zanini commented on #1270
acho que preciso utilizar outro editor de vídeo para a qualidade não ser perdida...

[2022-09-06 00:47] julia-zanini commented on #1270
acho que consegui deixar um dos vídeos hd!

[2022-09-06 13:30] Edu-F-Dias commented on #1203
Adicionei o PDF de descrição e os arquivos em PNG e SVG para a entrega final. Gostaria de segundas opiniões sobre a marca d'água criada, caso não seja adequada a que eu fiz.

[2022-09-06 14:04] marconiryan opened #1287 "Exemplo de uma tour virtual usando imagens"
Um [exemplo](https://marconiryan.github.io/uffs-tour-virtual/) simples de uma tour virtual dentro da UFFS Chapecó, usando imagens de um celular.

📔 [Repositório](https://github.com/marconiryan/uffs-tour-virtual)

[2022-09-06 14:12] marconiryan opened #1288 "Modelagem 3D da UFFS"
Protótipo da UFFS 3D usando o [blender](https://www.blender.org/).

- [x] Interno
- [x] Externo
- [x] Detalhes

[2022-09-06 14:23] alissonpeloso commented on #1288
@marconiryan, qual a ideia dessa issue? É pra testar aquele modelo pra expandir os prédios? Tipo google earth

[2022-09-06 14:35] #1287 closed

[2022-09-06 16:27] julia-zanini commented on #1270
juntei os áudios e as gravações do vídeo 3. ainda é necessário fazer a introdução e o encerramento

[2022-09-06 17:53] MariaLuizaReviliau commented on #1274
Live finalizada e dados inseridos na planilha

[2022-09-06 17:53] #1274 closed

[2022-09-06 17:54] #1276 closed

[2022-09-08 11:33] MariaLuizaReviliau commented on #1273
Bom dia @kamila-rosa , seguem as informações repassadas pela solicitante para a confecção do cartaz:
V Seminário da Política de Assistência Estudantil da UFFS
26 e 27 de setembro, no canal da Proae no youtube, com a seguinte programação:
26/09 - 19:30: abertura e roda de conversa: Qual o lugar dos NEABIs no espaço acadêmico? Reflexões sobre hierarquias e poder racial.
27/09 - 14:00: oficina: inter

[2022-09-08 12:08] #1286 closed

[2022-09-08 14:43] julia-zanini commented on #1270
todas as gravações editadas com os áudios, de todos os vídeos. falta o encerramento em todos eles, uma vez que não sei como será feito (se será com o pessoal do design ou a gente mesmo que vai fazer), enfim, vou aguardar a @amandasegattob retornar de férias para poder ver isso com ela

[2022-09-08 22:38] MariaLuizaReviliau commented on #1273
Essa tarefa será feita pelo @Edu-F-Dias, para melhor distribuição de tarefas e andamento do fluxo de trabalho.
Pode confeccionar o trabalho na [pasta](https://www.figma.com/file/731aPiMuuIUf6PPF7RcEgs/Divulga%C3%A7%C3%A3o?node-id=601%3A15) do figma que a Kamila já havia criado.

[2022-09-09 16:56] MariaLuizaReviliau opened #1289 "Panfleto - Recomendações éticas para o período eleitoral"
Essa issue tem por objetivo a confecção de um panfleto (texto a seguir) a fim de divulgar no e-mail institucional dos servidores.

[2022-09-09 16:58] MariaLuizaReviliau commented on #1289
Orientações:
Pode ser um único panfleto mas com duas partes. Na parte 1 a página 1 e na parte 2 as outras duas páginas com o anexo. Com destaque para a parte 1. Sem a necessidade de imagens. Preferencialmente utilizar a cor verde, a institucional.
Se possível, gerar os links de acesso na página 1.
Segue o texto:

Prezado Servidor Público!

A Comissão de Ética da UFFS no que tange às suas atribuiçõ

[2022-09-09 17:10] #1277 closed

[2022-09-09 17:12] MariaLuizaReviliau opened #1290 "Identidade visual simples - Grupo de pesquisa em políticas públicas e gestão em saúde (PPGS)"
Essa issue tem por objetivo a confecção da ID Visual do PPGS.

[2022-09-09 18:49] Saene99 commented on #1283
Finalizei os novos modelos, estão no [Figma](https://www.figma.com/file/rDjp1gi5TtoulwYJr0aAWs/Material-para-Stories?node-id=749%3A2). Aguardo sua revisão, @minieradka .

Não sei como irá ocorrer daqui para frente, se será a equipe externa ou a de redes sociais que irá editar as agendas. De qualquer forma, me disponibilizo para editar, assim seguimos sempre o mesmo padrão do design, pois como algu

[2022-09-12 19:00] Saene99 commented on #1268
Olá pessoal!

Desenvolvi alguns cards para os 13 anos da UFFS e do dia do programador. @minieradka aguardo sua revisão :)

[2022-09-12 20:12] morgana-mo commented on #1268
Oi @Saene99 a Mich está de férias eu e a @elisribas podemos opinar para você, se possível coloque as imagens na pasta de entrada

[2022-09-12 20:29] morgana-mo commented on #1181
Apontamentos da solicitante:
Por gentileza, solicitamos que sejam alterados os seguintes pontos:

Na capa:

Título: POLUIÇÃO, FLORA, PESCA, FAUNA E CAÇA

Retirar Chapecó, 2022 (será utilizado o panfleto em outros municípios além de Chapecó)

No texto pesca:

Retirar a frase: Em 2022, esse período tem início em 01 de outubro, seguindo até 31 de janeiro de 2023. (isso porque queremos utilizar os pan

[2022-09-12 20:30] morgana-mo commented on #1181
Mais alterações:
Prezados boa tarde

Solicito outra alteração no texto do folder da PMA onde trata sobre a fauna.

Onde está escrito:
Faça contato com o Instituto do Meio Ambiente (IMA), que é o órgão responsável pela gestão da fauna no Estado. O atendimento via Whatsapp acontece de segunda a sexta-feira, das 13h às 17h, através do número (48) 9.8808-3372.

Colocar:
Faça contato com o Instituto

[2022-09-12 23:55] kamila-rosa commented on #1279
Criei versões da ID [nesta página do figma](https://www.figma.com/file/7eEq7u7cLnoAjwsm1TsOBA/Grupos-de-Pequisa%2FExtens%C3%A3o?node-id=1287%3A4). Fiz algumas alterações sugeridas pela @MariaLuizaReviliau e peço que a @minieradka faça uma revisão adicional antes do primeiro envio ao solicitante (por precaução kkk). Caso, a Michele não consiga fazer a revisão (está em período de férias), faremos o

[2022-09-13 00:19] kamila-rosa commented on #1181
Como já estava responsável por esta issue, farei as alterações. ;))

[2022-09-13 12:36] Saene99 commented on #1268
Obrigada pelos comentários! Fiz as alterações e coloquei na pasta de entrada.

@morgana-mo gostaria de opiniões quanto ao card de dia do programador também (aliás, é hoje), não estou conseguindo desenvolver algo mais bacana. Também acho que alguém do dev (ou alguém que entenda de programação) poderia dar uma olhadinha naquele código que está na tela do computador, pois copiei da internet e acho qu

[2022-09-13 13:08] morgana-mo commented on #1268
Mais uma  alteração, acho que pode ser um padrão para todas, a frase `@practiceuffs // practice.uffs.edu.br`  tá com pouco destaque, talvez colocar um pouco mais grosso ou colocar numa cor um pouco mais forte como foi feito no setembro amarelo

[2022-09-13 13:12] morgana-mo commented on #1268
@Saene99 deixei comentário no figma sobre o do dia do programador

[2022-09-13 17:00] Saene99 commented on #1268
@morgana-mo novas versões estão na pasta

[2022-09-14 16:21] #1278 closed

[2022-09-14 16:22] #1252 closed

[2022-09-14 16:51] morgana-mo opened #1291 "Criação das postagens do mês de outubro"
Essa issue tem como objetivo a criação das postagens do mês deoutubro. A se considerar as já planejadas:

03/10/22 | Outubro Rosa
-- | --
05/10/22 | O QUE É OBS? PARA QUE SERVE?
07/10/22 | Post cartilha moodle
10/10/22 | [Reels AURA](https://drive.google.com/drive/folders/1rhbTgNNsmJUmhwyM60Wdu5NLACLoKP8L)
13/10/22 | Post sobre o serviço de lives
18/10/22 | Post sobre o serviço de CARTAZ/BANNER/CA

[2022-09-15 06:58] Eweline commented on #1279
Boa noite, @kamila-rosa . Adicionei alguns desenhos que fiz no link do Figma. Se ainda não enviou para a solicitante e achar que são interessantes os que fiz, poderia acrescentá-los.
Ficaram bem fofas as id's que você desenvolveu!

[2022-09-15 11:58] Edu-F-Dias commented on #1273
Está pronto. Não sei se teria mais informações à adicionar mas o cartaz está finalizado. Aceito sugestões de melhoria!

[2022-09-15 16:36] elisribas commented on #1291
12 de outubro - Dia das crianças (acho legal inserir coisas lúdicas tbm);
15 de outubro - Dia dos professores e das professoras
28 de outubro - Dia do servidor público

Por enquanto, estas são as minhas sugestões. 🤠😊

[2022-09-15 19:02] morgana-mo commented on #1291
Adicionadas

[2022-09-16 17:00] Edu-F-Dias commented on #1289
Eu fiz em dois modelos de tamanho e já coloquei na pasta de saída. Mas se caso a solicitante trazer outra opção, posso adaptar.

[2022-09-17 18:04] MariaLuizaReviliau commented on #1273
Eu não estou conseguindo acessar a página do figma, diz que eu não tenho permissãopara visualizar... @Edu-F-Dias poderia verificar isso?

[2022-09-18 18:01] Saene99 commented on #1285
Olá, pessoal!

Inseri na pasta de saída uma primeira versão para a ID. É apenas uma ideia inicial que tentei trazer os elementos que citaram: o microfone, os três pilares da Universidade e a cor azul.

**Descrição**:
-Os risquinhos do microfone são formados pela letra F (de Fronteira) que também constitui um C (de Cast);
-O círculo nas versões 1, 2 e 3 representa os três pilares da Universidade;
-

[2022-09-19 11:35] MariaLuizaReviliau commented on #1289
Ok, na minha opinião ficou muito bom, exatamente como o solicitante pediu.

Quando eu abri as imagens aqui, teve duas que apareceram com a logo cortada, teria como arrumar? @Edu-F-Dias

![image](https://user-images.githubusercontent.com/83495990/191007466-3d5896be-ec54-4979-9f51-c156cd1f7921.png)
![image](https://user-images.githubusercontent.com/83495990/191007491-471930f7-e5ee-4c4d-b84d-74391f96

[2022-09-19 13:17] robisonjose commented on #1285
Eu gostei dos desenhos da logo mas não gostei muito da cor. Não acho que o azul e verde combinem.

Também acho que a representação dos 3 pilares da universidade se perdem na versão "minimalista" da logo. De qualquer forma, a versão 4 das logos minimalistas está mais bonita, as outras duas estão com o "F" muito largo.

Pra mim, a melhor logo é a 3. O gradiente de cor ficou bem bonito (com exceção d

[2022-09-19 13:28] kamila-rosa commented on #1181
Fiz as alterações sugeridas pela solicitante. @minieradka estou te marcando caso queira fazer mais alguma revisão ou apontamento (a princípio dê uma olhadinha em como ficou o texto da capa do folder). Feito isto, insiro o trabalho na pasta de saída e podemos fazer este segundo envio à solicitante. ;)
[Aqui está a página do folder no figma](https://www.figma.com/file/LRy42hR3hNv4GItaM1tiQ7/Panfleto

[2022-09-19 14:36] kamila-rosa commented on #1279
Olá! @Eweline, já verifiquei as versões de ID que você fez e estão simplesmente lindas! Amei! Parabéns pelo ótimo trabalho!!! *-*
Irei dar mais uma revisada em todas as ID's que foram criadas e aí podemos iniciar a escrita da descrição das ID's. Feito isso enviamos ao solicitante. ;)

[2022-09-19 17:23] Eweline commented on #1258
Boa tarde.
Estive pensando sobre qual das seguintes expressões ficaria melhor para a série de solicitação de serviços. No exemplo está o serviço de Transmissão ao vivo.
Fiz alguns _cards_, apenas para testar as frases, que encontram-se [aqui](https://www.figma.com/file/7eEq7u7cLnoAjwsm1TsOBA/Grupos-de-Pequisa%2FExtens%C3%A3o?node-id=1423%3A236).
As expressões foram:

"Minha solicitação de serviço:

[2022-09-19 17:28] Eweline commented on #1258
Também precisarei da ajuda de alguém do mídia para diminuir partes do texto que estão muito grandes.
Falarei pelo telegram com a @MariaLuizaReviliau , já que ela é líder da equipe externa e uma das responsáveis pelas transmissões ao vivo.

No mais, comentarei com futuras dúvidas e informações.

[2022-09-19 17:49] robisonjose commented on #1268
você pode mudar a cor do sinal em algum software de edição de imagem

[2022-09-19 17:59] Eweline commented on #1289
Eu também gostei do panfleto, ficou como o solicitante pediu.
Gostaria de saber, apenas, se é possível justificar o texto? Ou isso não é protocolo para esse tipo de material?

[2022-09-19 20:39] robisonjose commented on #1268
tentei fazer uma versão do vídeo de pronuncia do nome. ta na pasta de entrada com o nome de "teste1"

[2022-09-20 12:53] #1280 closed

[2022-09-20 13:26] Saene99 commented on #1268
Eu tenho uma dúvida/sugestão sobre os reels. Por que vocês não utilizam as músicas das trends do Instagram? Nesse caso tem a narração, mas não daria de colocar a música no fundo? Na verdade não sei se combinaria com a voz do Robison kkkk mas é uma sugestão para esse e para os próximos :D

[2022-09-20 17:43] Eweline commented on #1282
Segue o [link provisório](https://www.figma.com/file/7eEq7u7cLnoAjwsm1TsOBA/Grupos-de-Pequisa%2FExtens%C3%A3o?node-id=1456%3A72) do desenvolvimento da logo, pois não tenho acesso aos outros grupos do figma.

A Equipe Externa pode dar sugestões e modificar o que achar interessante. Conto com o apoio de todos.

[2022-09-20 18:06] MariaLuizaReviliau opened #1292 "Live (Evento Multicampi do GT 1: PCC, Estágios Curriculares Supervisionados e TCC, 26/09/22, às 19:15)"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Evento Multicampi do GT 1: PCC, Estágios Curriculares Supervisionados e TCC

**Data e Hora**: 26/09/22, às 19:15

**Evento Geral** (se houver): Evento atrelado ao Fórum das Licenciaturas

**Solicitante**: Tatiana Peretti

**Realizador(es)**: II Conferência das Licenciaturas - Fórum das Licenciaturas

**Palestrante Principal**

[2022-09-20 18:07] MariaLuizaReviliau opened #1293 "Capa da live"
Essa issue tem por objetivo a confecção da capa da live da issue #1292

[2022-09-20 18:11] MariaLuizaReviliau commented on #1293
Formulário respondido pela solicitante encontra-se na pasta de entrada da issue.
Desenvolver o material na [pasta](https://www.figma.com/files/project/39390863/Capas-de-Lives?fuid=977350086695867662) do figma destinada para as capas de lives.

[2022-09-20 18:20] amandasegattob commented on #1270
Oi gente, fiz mais ou menos uma arte de capa e créditos, bem simples. Me deem sugestões!

![1](https://user-images.githubusercontent.com/71669953/191334294-8e505c36-7139-4c0e-ae60-89ffa8f395ba.png)
![2](https://user-images.githubusercontent.com/71669953/191334345-6afe173b-cc8b-42b3-b974-758d24d24aa2.png)
![3](https://user-images.githubusercontent.com/71669953/191334383-e714b4e6-1a27-43cc-a437-6eda

[2022-09-20 18:52] Edu-F-Dias commented on #1289
Quando abre o arquivo .svg no drive, fica com aquele corte ali. Mas, quando se faz o download do svg e joga ele no Figam, fica certinho. Eu exportei novamente pra ver se mudava, mas não adiantou. É um problema no visualizador do drive mesmo.
Quanto a justificar o texto, não aparece essa opção nos comandos do Figma. Se alguém souber como justificar au agradeço. Porque não uso o figma há muito tempo

[2022-09-20 18:59] Edu-F-Dias commented on #1289
ou seja, faz pouco tempo que uso o figma...

[2022-09-20 19:33] julia-zanini commented on #1270
Eu gostei!
Consegue me dizer se ficou boa as edições que fiz?

[2022-09-20 23:17] kamila-rosa commented on #1289
@Edu-F-Dias para justificar o texto no figma você seleciona uma caixa de texto > o menu lateral direito vai abrir > no título "Text" ou "texto" do menu, clique nos três pontinhos que estão abaixo desta seção (o "Type settings"), ali aparecerá pra você alinhar o texto e outras funções também.

Sobre o panfleto, achei que ficou bem legal, mas, mesmo que o solicitante tenha dito que não quer o uso de

[2022-09-21 00:33] kamila-rosa commented on #1181
Olá! Verifiquei que o último parágrafo do texto sobre "Fauna" (contido no frame "segundo envio") precisa de alguns ajustes na escrita. Peço que a @Eweline faça essa revisão se possível. Deixei um comentário na parte que precisa de revisão pontuando o que deve ser alterado. ;))
[Aqui está a página do folder no figma](https://www.figma.com/file/LRy42hR3hNv4GItaM1tiQ7/Panfleto-Policia-Ambiental-de-Ch

[2022-09-21 11:59] MariaLuizaReviliau commented on #1282
@Eweline você arrasou, eu gostei bastante da sua ideia, principalmente do instagram post-5 hehehe, visto isso, fiz algumas variações desse frame com alguns elementos que remetem à logo do PRACTICE. @Edu-F-Dias e @kamila-rosa espero que vocês também possam contribuir com essa confecção hehehe

[2022-09-21 12:13] robisonjose commented on #1270
Eu acho que a capa poderia ser sem aquela parte na direita. Ai não sei se o texto ficaria alinhado à esquerda ou centralizado.

De qualquer forma, não achei que combinou a faixa com as lâmpadas do lado direito.

[2022-09-21 12:15] robisonjose commented on #1268
Qual é a musica @Saene99? Se combinar eu posso colocar nesse. Ai nos próximos reels que forem de uma trend dá pra fazer com a narração típica do instagram também (narração automática - eu acho)

[2022-09-21 14:26] Saene99 commented on #1268
A música é That's Not My Name do The Ting Tings

[2022-09-21 16:50] minieradka commented on #1283
ameeeei saene adorei a versão de exemplo acho que ficou melhor com ícone em 3d pq nem sempre tem bastante lives pra divulgar. acho q só a marca d'água deveria ser usada a normal aquela laranja ficou bem estranha naquela arte em especifico e nesses casos melhor sempre usar a que sempre usamos, só mudar qnd o fundo q não apareça em últimos casos

[2022-09-21 17:10] minieradka commented on #1203
irei enviar agr a solicitante, o envio final infelizmente as mgs estão chegando atrasadas

[2022-09-21 17:17] minieradka commented on #1203
oi @Edu-F-Dias para que eu possa enviar a identidade final complexa é necessária a marca d'água, símbolo, encontrei na pasta somente as variações, a descrição final e variações de tamanho. Assim que terminar me avise q envio. Quando for adicionar os arquivos organize em pasta pq enviamos somente uma pasta ao solicitante ou seja uma pra envio intermediário e outro pro final. Demais tudo perfeito ót

[2022-09-21 17:23] minieradka commented on #1254
@Saene99 ótimo trabalho amei tbm, agr para envio final de identidade simples somente enviamos a versão nos tamanhos 500x , 1800x e 2400x, o editável e descrição. Como vc fez o logo símbolo submeta tbm na pasta tbm. Me avise que realizo o envio

[2022-09-21 17:29] minieradka commented on #1272
não obtivemos respostas a mais de 20 dias acredito que irei informar no e-mail se deseja continuar com a solicitação

[2022-09-21 17:30] minieradka commented on #1279
amei meninas deixei uns comentários no figma qualquer coisa só dar um grito

[2022-09-21 17:47] minieradka commented on #1268
ooii irei revisar pq foi eu a thay que escrevemos o texto, mas acredito que nas próximas já não precisa mais.  deixarei comentários e sugestões no figma

[2022-09-21 18:16] minieradka commented on #1181
gente a solicitante não mandou o logo né? não podemos finalizar o envio com aquele logo gritante de errado, irei solicitar aqui, olhando agr o arquivos com mais calma (e com espirito livre rs ), achei outros detalhes que precisam de pequenos ajustes. Irei arrumando enquanto aguardamos q ela enviar a logo dai podemos finalizar

[2022-09-21 18:27] minieradka commented on #1033
como informada pela @brendaellen a revisão do material já foi revisado, podemos nos guiar onde está esse documento revisado para que possamos alterar no figma e finalizar

[2022-09-21 21:08] amandasegattob commented on #1268
Pensei que eu era responsável por esse reels. Não sei qual é o intuito disso, mas se precisar de outras alterações me avisem. Eu destinei tempo para fazer ele, sendo que poderia ter utilizado esse tempo para fazer outras demandas e agora foi refeito de forma totalmente diferente.

@morgana-mo @JuliaGaboardiB

[2022-09-22 00:21] amandasegattob commented on #1270
Oiee, eu acho que ainda parece estar meio embaçado, não sei... É estranho, porque aparece como qualidade máxima. Coloquei o primeiro vídeo editado que eu gravei a tela na pasta de entrada "Pacotes Google 1". Será que tem diferença na imagem?

[2022-09-22 01:54] kamila-rosa commented on #1181
Concordo contigo @minieradka . Vamos aproveitar esse tempo em que a solicitante leva para mandar a logo e revisar os detalhes do folder. Eu e a a @Eweline já fizemos a alteração do parágrafo sobre a fauna e isso deve ser relatado à solicitante, pra que ela verifique se está de acordo (mas acredito que concordar).
Também estamos vendo como referenciar as imagens nesse tipo de layout e levando em co

[2022-09-22 11:31] Saene99 commented on #1283
Obrigada pelos comentários @minieradka . Sobre a marca d'água, eu deixei em cores monocromáticas por aquele motivo dos risquinhos não ficarem visíveis quando usamos as texturas nessas cores, mas realmente a laranja ficou um pouco estranha. Agora deixei todas brancas e ornou bem mais :)

[2022-09-22 11:33] Saene99 commented on #1283
@MariaLuizaReviliau o novo design para a agenda de lives está pronto no [Figma](https://www.figma.com/file/rDjp1gi5TtoulwYJr0aAWs/Material-para-Stories?node-id=749%3A2)

[2022-09-22 12:22] robisonjose commented on #1268
@amandasegattob

Você é a responsável, mas não estavamos gostando muito do resultado. Então eu tentei representar as ideias que eu tinha, não em forma de comentário, mas em forma de vídeo. Ele não precisa ser utilizado, foi feito com o intuito de demonstrar outra maneira de fazer esse vídeo (a minha visão).

Em relação ao tempo gasto: Muitas vezes acontece de criarmos um material, darmos ideias, g

[2022-09-22 12:57] amandasegattob commented on #1268
Certo! Como mais ninguém tinha se pronunciado aqui na issue, eu estava fazendo as alterações que tu tinha pedido. Poderia ter feito uma outra versão também, se fosse solicitado, não teria problema. Já que o resultado não foi o esperado por vocês, acho melhor utilizar a tua versão.

[2022-09-22 15:08] robisonjose commented on #1285
Fiz uma vinhetinha para possíveis vídeos que serão feitos. Tá na pasta de saída. Aguardo feedback.

[2022-09-22 16:04] amandasegattob commented on #1221
Acredito que essa issue possa ser encerrada, já que migramos o conteúdo daqui para a issue #1226

[2022-09-22 16:04] #1221 closed

[2022-09-22 16:37] amandasegattob commented on #1226
Atualizando, precisamos de mais um adaptador de cartão de memória para conseguir usar a câmera e gravador juntos.

[2022-09-22 17:27] zorteaadriano commented on #1233
Para instalação da placa de captura, o drive pode ser encontrado neste link: https://www.avermedia.com/br/product-detail/GC513

[2022-09-22 18:24] #1188 closed

[2022-09-22 18:27] #1072 closed

[2022-09-22 18:27] Edu-F-Dias commented on #1273
Gente, alguém fez a revisão já?

[2022-09-22 18:43] vini2reis commented on #1285
Não tenho acesso à essa pasta...

[2022-09-22 18:51] morgana-mo commented on #1181
Coloquei o logo na pasta de entrada @kamila-rosa

[2022-09-22 18:53] Edu-F-Dias commented on #1289
Pessoal, temos um problema. Fui checar os links dos documentos e o do Código de Conduta da UFFS leva a uma página que não existe.

[2022-09-22 19:16] Edu-F-Dias commented on #1203
Coloquei a marca d'água e os símbolos também. Se puder dar uma conferida e me confirmar Michele, eu agradeço :)

[2022-09-22 19:20] minieradka commented on #1203
acredito que o simbolo 1 e 2 devem estar juntos

[2022-09-22 19:27] minieradka commented on #1229
@julia-zanini @MariaLuizaReviliau  meninas precisamos finalizar isso podemos combinar um horario semana que vem?

[2022-09-22 19:35] minieradka commented on #1181
tive que pedir pra alguem abrir no corel drawn e salvar pra gente kkk vou finalizar pra enviar

[2022-09-22 19:36] Saene99 commented on #1254
@minieradka está tudo na pasta de saída :D

[2022-09-22 19:44] morgana-mo opened #1294 "Ideias para nova versão do app Bem-Estar"
Essa issue tem como objetivo angariar ideias para a nova versão do app de Bem-estar

[2022-09-22 19:45] morgana-mo commented on #1294
[Deixar nesse arquivo](https://docs.google.com/document/d/130tCmiJRtGuw1tsQIa0D_H121v9R9A5TAupu-lfFgbQ/edit)

[2022-09-22 19:48] morgana-mo commented on #1289
[code]
Pedido do solicitante!

[2022-09-22 19:49] minieradka commented on #1254
oi linda, tudo certo vou enviar. Uma dica não precisa enviar o svg de tudo pq se pessoa tem um arquivo editável de qualquer tamanho é possível mexer no tamanho e cores, muitos arquivos assim é só pra confundir. Vou enviar aqui

[2022-09-22 19:54] minieradka commented on #1254
vamos aguardar o feedback da angelise para encerrar essa issue

[2022-09-22 19:55] Saene99 commented on #1254
Entendi! Obrigada :D

[2022-09-22 20:29] luizdameda commented on #1033
Já iniciei as correções conforme a revisão feita pela Brenda. Criei uma subpasta e estou colocando nela os textos conforme estou repassando para o Figma.

@brendaellen tem como sinalizar no [Figma](https://www.figma.com/file/B8LEamJaVX0QmfOiPSNKml/Manual-do-Estudante?node-id=2%3A651), ou listar por aqui mesmo, quais são as páginas/facilitadores que deverão ser removidos?

[2022-09-22 21:27] MariaLuizaReviliau commented on #1273
Acabei de revisar @Edu-F-Dias pois eu estou sem acesso às pastas de design do figma....
Na minha opinião o material ficou bem legal, talvez eu deixaria o alinhamento centralizado e a logo da UFFS na parte de baixo de texto, no mais acredito que está ótimo.
Aguardamos a revisão dos demais integrantes
@kamila-rosa @patitrev @Eweline e a @minieradka se tiver um tempinho.

[2022-09-23 02:23] kamila-rosa commented on #1279
As identidades visuais selecionadas para o primeiro envio ao solicitante e sua respectiva descrição estão na pasta de saída, podem acessar elas [aqui](https://drive.google.com/drive/folders/1Ar0VM-J8I4wto44HabbdnjwJOHri1Tbq).
Farei o envio ao solicitante pelo mural. ;))
Obrigada à todos que contribuíram na confecção dessas ID's!

[2022-09-23 02:50] kamila-rosa commented on #1293
O layout foi iniciado [nesta página](https://www.figma.com/file/BV9ASnUC3sPRVoxPQtDLM9/Eventos-%C3%BAnicos?node-id=746%3A2) do figma. :)

[2022-09-23 03:26] kamila-rosa commented on #1273
Revisei os cartazes, ficaram muito bons! Fiz uma cópia deles ao lado com as alterações que achei necessárias, a fim de que o texto pudesse ser lido com mais clareza. Os cartazes estão [aqui](https://www.figma.com/file/731aPiMuuIUf6PPF7RcEgs/Divulga%C3%A7%C3%A3o?node-id=601%3A15).

[2022-09-23 03:52] kamila-rosa commented on #1289
Pessoal, em que página do figma está esse panfleto? Gostaria de revisar ele mais um pouco.

[2022-09-23 13:25] robisonjose commented on #1285
@vini2reis passa um email que eu possa compartilhar a pasta do fronteira

[2022-09-23 13:36] vini2reis commented on #1285
vinicius.reis@estudante.uffs.edu.br

[2022-09-23 13:52] marconiryan opened #1295 "Rodar a UFFS 3D"
O objetivo dessa issue é rodar o modelo da UFFS 3D #1288 no navegador.

- [x] Rodando o [modelo](https://marconiryan.github.io/UFFS-model/)

[2022-09-23 14:11] robisonjose commented on #1285
Todos os trabalhos, de agora em diante, deverão ser postados e organizados na [pasta do projeto](https://drive.google.com/drive/u/0/folders/19fkHScBjqRuO2bgeAb64TXhW02M47MYc).

[2022-09-23 15:04] Saene99 commented on #1291
Iniciei os cards no [Figma](https://www.figma.com/file/vKsmv9TiwF1RFERsOEs31T/Issues---Instagram?node-id=1649%3A464)

[2022-09-23 15:55] MariaLuizaReviliau commented on #1273
@Edu-F-Dias acredito que com a minha revisão e da Kamila já é possivel finalizar o material devido ao prazo, então assim que você tiver finalizado peço que adicione o material na pasta de saída e me comunique para que eu possa enviar ao solicitante :)

[2022-09-23 16:31] MariaLuizaReviliau commented on #1289
Sobre o link eu informei o solicitante, vamos aguardar a resposta dele.

[2022-09-23 18:06] julia-zanini commented on #1270
é... tem sim... o seu ficou mais nítido. a minha gravação ficou um pouco embaçada.
acho que meu computador não é potente o suficiente para gravar em hd.
quer que eu pegue um pc emprestado da uffs para regravar?

[2022-09-23 18:07] julia-zanini commented on #1229
sim.
o dia que for melhor para você

[2022-09-23 19:28] MariaLuizaReviliau opened #1296 "Conjunto de lives - II Jornada de formação inicial e continuada de monitores de ensino 2022/2023"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: -

**Data e Hora**: -

**Evento Geral** (se houver): II Jornada de formação inicial e continuada de monitores de ensino 2022/2023

**Solicitante**: JANAITA DA ROCHA GOLIN

**Realizador(es)**: -

**Palestrante Principal**: -

**Solicitação no Mural**: -

**Link Transmissão**: -

- [x] #1297
- [x] #1298
- [ ] #1299
- [x] #1300

[2022-09-23 19:28] MariaLuizaReviliau opened #1297 "Conferência de Abertura “Iniciação à docência nas monitorias de ensino": "Monitoria de ensino: como auxiliar, estimular e acompanhar os processos de ensino e aprendizagem?" - 05/10/2022 - 15h30min"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Monitoria de ensino: como auxiliar, estimular e acompanhar os processos de ensino e aprendizagem?

**Data e Hora**: 05/10/2022 - 15h30min

**Evento Geral** (se houver): II Jornada de formação inicial e continuada de monitores de ensino 2022/2023

**Solicitante**: JANAITA DA ROCHA GOLIN

**Realizador(es)**:

**Palestrante Prin

[2022-09-23 19:28] MariaLuizaReviliau opened #1298 "5/12/2022 - 14h Socialização das experiências dos monitores de ensino -"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: -

**Data e Hora**: -

**Evento Geral** (se houver): II Jornada de formação inicial e continuada de monitores de ensino 2022/2023

**Solicitante**: JANAITA DA ROCHA GOLIN

**Realizador(es)**: -

**Palestrante Principal**: -

**Solicitação no Mural**: -

**Link Transmissão**: -

Com os dados e roteiro em mãos, o responsável pe

[2022-09-23 19:28] MariaLuizaReviliau opened #1299 "Oficina com uso da ferramenta Cmap Tools, para uso e elaboração de mapas mentais - 31/03/2023 - 14h"

[2022-09-23 19:28] MariaLuizaReviliau opened #1300 "Live sobre Políticas Inclusivas nas monitorias de ensino - 17/05/2023 - 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: -

**Data e Hora**: -

**Evento Geral** (se houver): II Jornada de formação inicial e continuada de monitores de ensino 2022/2023

**Solicitante**: JANAITA DA ROCHA GOLIN

**Realizador(es)**: -

**Palestrante Principal**: -

**Solicitação no Mural**: -

**Link Transmissão**: -

Com os dados e roteiro em mãos, o responsável pe

[2022-09-23 19:28] MariaLuizaReviliau opened #1301 "Seminário de Socialização de boas práticas em ações e apoio ao ensino na graduação - 22/06/2023 - 14h"

[2022-09-23 19:54] #1283 closed

[2022-09-23 20:03] MariaLuizaReviliau commented on #1229
Sim, só combinar o dia e horário

[2022-09-23 20:19] MariaLuizaReviliau commented on #1258
@Eweline Eu fiz uma sugestão (com cor vermelha) no material da imagem 4 sobre transmissões ao vivo, já que era o texto mais extenso. Estive analisando os demais textos e já estão "curtinhos", mas caso precise de mais alguma coisa é só sinalizar para mim.

[2022-09-23 20:24] MariaLuizaReviliau commented on #1258
Com a nova reorganização de equipes talvez seria viável atualizar a parte do "quem irá lhe tender"

[2022-09-23 20:34] minieradka commented on #1258
gostei dessa ""Minha solicitação: o que eu preciso saber?
Transmissão ao vivo"

[2022-09-23 20:47] MariaLuizaReviliau opened #1302 "Banner - "Grandes personajes de la literatura""
**Orientações repassadas pelo solicitante:**

Boa tarde. Este semestre começará a segunda parte do projeto de extensão registro: EXT-2021-0230, “Grandes personajes de la literatura”, do Curso de Letras, com a obra Bodas de sangre. Como a primeira parte, os alunos vão produzir banners sobre diversas personagens do livro. Os modelos foram realizados por vocês e estão aqui:
https://drive.google.com/d

[2022-09-23 20:57] minieradka commented on #1203
enviado a solicitante os elementos finais. parabéns pelo excelente trabalho @Edu-F-Dias . Aguardamos o feedback final p/ fechar essa issue.

[2022-09-23 21:06] minieradka commented on #1181
com o as arquivos editáveis que a solicitante enviou conseguimos identificar os fontes e cores oficiais da identidade, estou editando com as respectivas informações. Ficou bem melhor pq seguiu a identidade visual do projeto.

[2022-09-23 22:04] kamila-rosa commented on #1293
Criei duas versões da capa para a referida live, elas estão disponíveis na [pasta de saída da issue](https://drive.google.com/drive/folders/1oq0jH4wWPNTbtnpJtIFIoIzH_rP7wtfu). @MariaLuizaReviliau se puder comunicar a solicitante, agradeço! ;))

[2022-09-24 14:59] brendaellen commented on #1033
O facilitador que deve ser removido é o PASSEI DIRETO. Entretanto, o nome dele está presente nos infográficos, então estou em dúvida sobre como proceder com a utlização dos mesmos.

[2022-09-24 21:44] luizdameda commented on #1033
Certo!! Já passei todas correções pro Figma, só falta fazer o alinhamento e ajustes finos. @brendaellen o infográfico está aonde? Não encontrei ele no drive

[2022-09-25 18:45] amandasegattob commented on #1270
Não precisa!! Vou gravar do meu, assim que terminar coloco aqui tudo pronto.

[2022-09-26 01:38] amandasegattob commented on #1270
Boa noite, coloquei os dois primeiros vídeos na pasta de entrada. Acho que talvez seria bom colocar uma trilha sonora de fundo. O que acham?

[2022-09-26 11:24] MariaLuizaReviliau commented on #1289
Bom dia!
Sobre o link, o solicitante autorizou a substituição do link que está dando erro por este: https://www-mgm.uffs.edu.br/atos-normativos/resolucao/consuni/2013-0002/@@download/documento_historico que foi sugerido pelo @Edu-F-Dias.
Já vou encaminhar os modelos para o solicitante ver se deseja mais alguma alteração, enquanto isso peço que o @Edu-F-Dias altere o link o mais rápido possível poi

[2022-09-26 12:04] MariaLuizaReviliau opened #1303 "Live: Aula Magna - PPGEL UFFS Chapecó (27/09/2022 - 19:15h)"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Aula Magna - PPGEL UFFS Chapecó

**Data e Hora**: 27/09/2022 - 19:15h

**Evento Geral** (se houver): -

**Solicitante**: Marilene Aparecida Lemos

**Realizador(es)**: Programa de Pós-graduação em Estudos Linguísticos - Campus Chapecó

**Palestrante Principal**: Margarete Dulce Bagatini; Ani Carla Marchesan; Cristiane Dias

**

[2022-09-26 12:19] MariaLuizaReviliau opened #1304 "Agenda de lives da semana - 26/09 até 30/09"
Essa issue tem por objetivo a divulgação das lives desta semana.

[2022-09-26 12:23] MariaLuizaReviliau commented on #1304
Bom dia!
Esta semana teremos 3 lives, inclusive uma delas é hoje à noite, então já realizei a edição do layout da agenda de lives no [figma](https://www.figma.com/file/rDjp1gi5TtoulwYJr0aAWs/Material-para-Stories?node-id=749%3A2) e adicionei o material na pasta de [saída](https://drive.google.com/drive/folders/1XvNi0jdurJNTejRmoFHDvqMvN7SZAVkx).
Peço que a @Saene99 realize a postagem nos stories d

[2022-09-26 12:29] MariaLuizaReviliau commented on #1293
O modelo escolhido pela solicitante foi o modelo 2, sem nenhum pedido de alteração! :)

[2022-09-26 12:29] #1293 closed

[2022-09-26 13:03] robisonjose commented on #971
Eu achei a nova logo um tanto quanto [sugestiva](https://www.flaticon.com/br/icone-gratis/vagina_4021730).

Acho melhor pensar em algo diferente.

[2022-09-26 13:08] Saene99 commented on #1304
Bom dia :)
Eu não consegui abrir o arquivo, aparece que está corrompido. Fui ver no Figma e acabei percebendo que o mês e o dia não estavam bem centralizados no meio do círculo, arrumei o do modelo e o dessa semana e fiz o upload na pasta de saída. Já vamos postar, obrigada @MariaLuizaReviliau

[2022-09-26 13:20] Saene99 commented on #1268
Os últimos cards do mês de setembro estão na pasta de saída :)

[2022-09-26 18:34] Edu-F-Dias commented on #1289
Boa tarde!
Adicionei o link correto bem como os QR codes. Está pronto.

[2022-09-26 19:28] Edu-F-Dias commented on #1273
Finalizei. Está tudo na pasta.

[2022-09-26 19:44] kamila-rosa commented on #1181
Já inseri todas as referências das imagens no folder.

[2022-09-26 20:20] amandasegattob commented on #971
Eu preferi a versão sem as mãos. Talvez se o traço do "corpinho" não ir até o final (não fechar embaixo), não fique "sugestivo", por mais que eu não tenha achado kkk.
Pode ser que seja interessante usar um traço mais grosso, que afine na ponta.
No momento só consegui pensar nisso.

[2022-09-27 00:53] kamila-rosa commented on #1181
Olá pessoal! Trocamos as fontes do folder e arrumamos mais algumas coisas. Peço a última revisão da @minieradka para então enviarmos ao solicitante. Ficou muito lindo, valeu toda dedicação! s2

[2022-09-27 14:50] minieradka commented on #1181
disponível na pasta de saída e finalmente enviado a solicitante. Obrigada @kamila-rosa pela dedicação e pelo trabalho final, vamos aguardar o feedback final para encerrar essa issue <3

[2022-09-27 15:02] minieradka commented on #1302
só pra ajudar esses banner foram criados no apresentação do google, da pra pegar criar uma copia e criar em cima é bem tranquilo, se fizer talvez em outro programa podem ficar diferentes e ele quer uma continuidade

[2022-09-27 15:45] minieradka commented on #1255
@morgana-mo consegue listar oq vc já fez e informar qual está trabalhando pra que eu possa iniciar uma ilustração

[2022-09-27 17:00] julia-zanini commented on #1270
eu acho bom colocar trilha sonora sim. vou procurar algumas e então coloco na pasta de entrada

no vídeo 1, não acha que seria melhor, talvez, mostrar como faz para "arrastar" os arquivos do pc para dentro do drive?
sobre a parte de sugestão no docs, acho que gravei o áudio errado, não falei que a sugestão existe só para o docs, e não para o planilha e o apresentações. se eu regravar essa parte, v

[2022-09-27 17:19] amandasegattob commented on #1270
Posso gravar essa parte sim. Não achei tão necessário, aí tinha ignorado rsrs. Sobre a questão do áudio, podemos tentar, porque geralmente quando grava depois fica bem perceptível a diferença. Teve uma outra partezinha que tava errada na narração que eu tirei, mas não alterou o sentido. Uma opção seria regravar tudo. Vejam o que acham.

Sobre a legenda, acho que é a melhor opção também.

Inclusive

[2022-09-27 17:26] julia-zanini commented on #1270
coloquei duas músicas na pasta de entrada para possíveis trilhas sonoras. vejam se elas tem um estilo certo para nossos vídeos, ou se devo ir em outro caminho para achar a trilha mais adequada

[2022-09-27 17:31] MariaLuizaReviliau opened #1305 "teste"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:

**Data e Hora**:

**Evento Geral** (se houver):

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**:

**Link Transmissão**:

- [ ] capa da live

Com os dados e roteiro em mãos, o responsável pela Live deve seguir os padrões do PRACTICE e estabelecer contato com o solicitante, enviando

[2022-09-27 17:38] julia-zanini commented on #1270
estou vendo esse vídeo agora, quando diz que tiveram partes que ficaram meio cortadas você se refere as partes em que deixei pouco espaço entre uma frase e outra? porque tenho os áudios sem a edição, posso reeditar as partes que ficou muito pulado

[2022-09-27 17:49] morgana-mo commented on #1255
Vou colocar o print dos desenhos aqui pois na pasta de entrada eles estão sem nome
Finalizado esse abaixo
![image](https://user-images.githubusercontent.com/71781124/192599693-2457874c-1bd4-4f19-9211-ab48a279a9d8.png)
Em andamento:
![image](https://user-images.githubusercontent.com/71781124/192599850-987f88bf-0ed1-4ad0-8694-86cf860a86a7.png)
![image](https://user-images.githubusercontent.com/71781

[2022-09-27 18:03] julia-zanini commented on #1270
no vídeo 2 eu tinha pensado em tirar a parte que fala que o subtítulo também aparecia no sumário, porque não aparece kkk quando eu gravei a minha tela (que ficou com baixa qualidade) eu tinha arrancado essa parte fora rsssss
e será se não seria bom colocar a borda na imagem na parte que fala da borda?

[2022-09-27 19:05] minieradka commented on #1255
no figma eu listei as imagens com os nomes q consegui descobrir, vc fez então do autor miguel cervantes do Don quijote e ta fazendo o do sancho panza

[2022-09-27 21:30] amandasegattob commented on #1249
Coloquei dois vídeos sobre a mesa que gravamos no estúdio na pasta de entrada. Acredito que tenha ficado explicativo.

[2022-09-27 21:40] amandasegattob commented on #1233
Coloquei na pasta de entrada os vídeos de teste do kit de iluminação e da câmera + gravador ligados na placa. Os microfones não funcionaram,  não sei se era porque o gravador não tinha pilha (estava ligado apenas pelo cabo USB) ou se foi por mau contato do adaptador. Ainda vamos fazer novos testes.

[2022-09-27 23:34] #1305 closed

[2022-09-27 23:54] MariaLuizaReviliau opened #1306 "Live: X SEMANA DA SAÚDE DO SERVIDOR UFFS - 06/10/2022; 14:45"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: X SEMANA DA SAÚDE DO SERVIDOR UFFS:
1. 06/10 (14:00 - 14:30): Covid: Prevenção, tratamento e transmissão segundo OMS e seus principais protocolos.
2. 06/10 (14:30 - 14:45): Palestra: Atividade Fisica na melhora da qualidade de vida.
3. 06/10 (14:45 - 15:00): Palestra: Cuidados com a automedicação.

**Data e Hora**: 06/10/2022

[2022-09-28 00:15] MariaLuizaReviliau opened #1307 "capa da live"

[2022-09-28 00:33] MariaLuizaReviliau commented on #1303
Live realizada e planilha de mapeamento atualizada com sucesso!

[2022-09-28 00:33] #1303 closed

[2022-09-28 00:40] MariaLuizaReviliau commented on #1292
Live finalizada e planilha de mapeamento atualizada!

[2022-09-28 00:40] #1292 closed

[2022-09-28 00:53] MariaLuizaReviliau opened #1308 "Live: Palestra de Encerramento da V SAMAT - 06/10/2022; 19:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Live: Palestra de Encerramento da V SAMAT

**Data e Hora**: 06/10/2022; 19:30h

**Evento Geral** (se houver): V SAMAT

**Solicitante**: Paulo Rafael Bösing

**Realizador(es)**:Curso de Matemática

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/72

**Link Transmissão**:  https:

[2022-09-28 00:59] MariaLuizaReviliau opened #1309 "Live: Abertura da V SAMAT - UFFS 03/10/2022; 19:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Live: Palestra de Encerramento da V SAMAT

**Data e Hora**: 03/10/2022; 19:30h

**Evento Geral** (se houver): V SAMAT

**Solicitante**: Paulo Rafael Bösing

**Realizador(es)**:Curso de Matemática

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/72

**Link Transmissão**:  https:

[2022-09-28 11:28] MariaLuizaReviliau opened #1310 "Live: I Jornada Pedagógica Campus Chapecó - 28/09/2022; 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: I Jornada Pedagógica Campus Chapecó

**Data e Hora**: 28/09/2022; 14h

**Evento Geral** (se houver):

**Solicitante**: Elisângela Ribas

**Realizador(es)**: Núcleo de Apoio Pedagógico

**Palestrante Principal**: Clarice Monteiro Escott

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/92

**Link Transmissã

[2022-09-28 11:37] MariaLuizaReviliau opened #1311 "Live: X Semana da Saúde do Servidor - Chapecó (Síndrome Pós- Covid - uma visão geral sobre o tema) - 03/10/2022; 13:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: X Semana da Saúde do Servidor - Chapecó (Síndrome Pós- Covid - uma visão geral sobre o tema)

**Data e Hora**: 03/10/2022; 13:30h

**Evento Geral** (se houver):

**Solicitante**: Sara Lucca

**Realizador(es)**: DASS/SIASS - Reitoria

**Palestrante Principal**: Dr. Carlos Humberto Mayer Carlotto – Médico do SIASS/UFFS

**Solic

[2022-09-28 11:38] MariaLuizaReviliau commented on #1311
Aguardando o solicitante responder o [formulário](https://docs.google.com/forms/d/1mieqNA7b_cG4EQCTcfODlH0kZSEt_xmpuUfN71tGfU0/edit#response=ACYDBNjJpdHTbv2xgCusjjgeFuE1XaeC1_pEMHGG94WoAnk6QuM84Vb0I73o4fMW-vLISFg) para que as demais informações sejam adicionadas.

[2022-09-28 11:40] MariaLuizaReviliau opened #1312 "Live: Palestra - COVID e os sintomas gastrointestinais - 05/10/2022; 13:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Palestra: COVID e os sintomas gastrointestinais

**Data e Hora**: 05/10/2022; 13:30h

**Evento Geral** (se houver):

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/96

**Link Transmissão**: https://youtu.be/VAv9VhO479Q

**Sala webex**: ht

[2022-09-28 11:41] MariaLuizaReviliau commented on #1312
- Aguardando o solicitante responder o [fomulário ](https://docs.google.com/forms/d/1mieqNA7b_cG4EQCTcfODlH0kZSEt_xmpuUfN71tGfU0/edit#response=ACYDBNjJpdHTbv2xgCusjjgeFuE1XaeC1_pEMHGG94WoAnk6QuM84Vb0I73o4fMW-vLISFg)para adicionar as demais informações.

[2022-09-28 11:46] MariaLuizaReviliau opened #1313 "Live: Semana da Saúde do Servidor: Considerações Nutricionais Pré e Pós Covid - 07/10/2022; 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Semana da Saúde do Servidor: Considerações Nutricionais Pré e Pós Covid

**Data e Hora**: 07/10/2022; 13:30h

**Evento Geral** (se houver):

**Solicitante**: Roseana Tenutti Setti

**Realizador(es)**: SIASS - Extensão Campus Realeza

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/serv

[2022-09-28 11:46] MariaLuizaReviliau commented on #1313
Aguardando o solicitante responder o [fomulário](https://docs.google.com/forms/d/1mieqNA7b_cG4EQCTcfODlH0kZSEt_xmpuUfN71tGfU0/edit#response=ACYDBNjJpdHTbv2xgCusjjgeFuE1XaeC1_pEMHGG94WoAnk6QuM84Vb0I73o4fMW-vLISFg) para que as demais informações sejam inseridas.

[2022-09-28 12:29] Edu-F-Dias commented on #1203
Obrigado.

[2022-09-28 19:10] #1310 closed

[2022-09-28 19:11] patitrev commented on #1310
tudo pronto!

[2022-09-28 21:19] amandasegattob commented on #1270
@robisonjose @morgana-mo antes de eu começar a fazer as alterações, vocês tem mais sugestões?

[2022-09-28 21:20] amandasegattob commented on #1270
Acho que seria bom deixar algumas pausas entre as palavras.

[2022-09-28 23:22] amandasegattob commented on #1270
Coloquei o vídeo 4 na pasta de entrada também.
Assim que tiverem mais opiniões, eu faço as alterações.

Quanto à trilha sonora, prefiro a música "Trust".

[2022-09-28 23:28] #1198 closed

[2022-09-28 23:28] amandasegattob commented on #1015
Como esse projeto foi finalizado, estou encerrando a issue.

[2022-09-28 23:28] #1015 closed

[2022-09-29 03:07] Eweline commented on #944
O manual está pronto.
Pode ser formatado no Maker, se haver interesse em fazê-lo.

[2022-09-29 03:07] #944 closed

[2022-09-29 03:09] #1262 closed

[2022-09-29 03:11] #1044 closed

[2022-09-29 04:33] Eweline commented on #1258
Muito obrigada pelas considerações, pessoal.
O material está todo revisado [neste link](https://docs.google.com/document/d/1ljN2yUCeY-1WtGXW6Tbxp5JQPrdzl1MaHn_anGVX2KA/edit).
Já modifiquei o item sobre quem irá atender as demandas, e acredito que será apenas a Equipe Externa.

Gostaria que o pessoal da equipe externa revisasse o material sobre as informações, principalmente a parte de design - já

[2022-09-29 04:36] Eweline commented on #1258
Aliás, @MariaLuizaReviliau , eu fiquei confusa quanto a uma expressão, se é "no máximo" ou "no mínimo". Tentei explicar como entendi de cada forma, mas reli tantas vezes que não sei se faz sentido kkkk. Se puder dar uma olhada, agradeço.

[2022-09-29 06:50] #1288 closed

[2022-09-29 06:58] #1295 closed

[2022-09-29 12:09] robisonjose commented on #1044
onde está o material finalizado?

[2022-09-29 12:10] robisonjose commented on #944
o material finalizado é o que está na pasta de saída?

[2022-09-29 12:15] luizatonial commented on #1235
Os estúdios de Erechim estão sendo usados semanalmente pelo programa de extensão TV FRONTEIRA UFFS, fazendo uso de maneira autônoma, além disso, eles tem aparelhos próprios que auxiliam na execução das atividades. Logo:
1. Já foi ligado o computador, instalado o OBS Studio, instalado o Webex, faltando apenas outros programas como ShotCut e Audacity quando necessário.
2. Todo o sistema de iluminaçã

[2022-09-29 12:19] luizatonial commented on #1235
além disso o item "3" citado acima não poderá ser realizado pois não existem esses microfones.

[2022-09-29 12:20] #1214 closed

[2022-09-29 13:50] amandasegattob commented on #1243
Em reunião com o @lcaimi, foi decidido que essa tarefa ficará em stand by por enquanto.

[2022-09-29 13:50] amandasegattob commented on #1242
Em reunião com o @lcaimi, foi decidido que essa tarefa ficará em stand by por enquanto.

[2022-09-29 13:50] amandasegattob commented on #1244
Em reunião com o @lcaimi, foi decidido que essa tarefa ficará em stand by por enquanto.

[2022-09-29 16:33] MaNegrao commented on #1285
Curti a vinhetinha, achei um pouco rapído demais o movimento, mas é só chatisse minha

[2022-09-29 16:41] alissonpeloso commented on #1288
@marconiryan, consegue documentar aqui como ficou mais ou menos o modelo?

[2022-09-29 17:23] marconiryan commented on #1288
@alissonpeloso

Rodando [aqui](https://marconiryan.github.io/UFFS-model/)

##### Frente
[![LCKOVn.md.png](https://iili.io/LCKOVn.md.png)](https://freeimage.host/i/LCKOVn)
##### Lateral
[![LCfCRp.md.png](https://iili.io/LCfCRp.md.png)](https://freeimage.host/i/LCfCRp)
##### Dentro
[![LCfnON.md.png](https://iili.io/LCfnON.md.png)](https://freeimage.host/i/LCfnON)

[2022-09-29 18:23] alissonpeloso commented on #1288
Muito massa, parabéns!

[2022-09-30 13:38] Saene99 opened #1314 "Criação das postagens do mês de novembro"
Essa issue tem o objetivo de criar as postagens do mês de novembro. Aqui vamos criar o conteúdo, os cards e os reels.

As ideias de conteúdo devem ser colocadas na planilha de [Conteúdo 2022](https://docs.google.com/spreadsheets/d/1HoGX4jzCXCInPOIMzyhzL8ycCjAn84WbrSK-IYHcLZk/edit#gid=410798185).

As artes serão criadas no [Figma](https://www.figma.com/file/vKsmv9TiwF1RFERsOEs31T/Issues---Instagram

[2022-10-01 04:37] luizdameda commented on #1033
O Manual está (finalmente) finalizado no [Figma](https://www.figma.com/file/B8LEamJaVX0QmfOiPSNKml/Manual-do-Estudante?node-id=2%3A651). Deixei duas observações lá como comentários. Peço que deem uma olhada no material, principalmente se o sumário, a numeração das páginas e a nova versão do infográfico está legal. Qualquer coisa podem comentar lá mesmo se alguma coisa passou despercebida ou se há

[2022-10-01 13:18] MariaLuizaReviliau opened #1315 "Live: Conferência de Abertura do PIBID e PRP - 2022 (26/10/2022 - 14h)"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Conferência de Abertura do PIBID e PRP - 2022

**Data e Hora**: 26/10/2022 - 14h

**Evento Geral** (se houver):

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/93

**Link Transmissão**: https://youtu.be/FzPQJToC0D4

**Sala webex**: https:

[2022-10-01 13:46] MariaLuizaReviliau commented on #1313
Materiais adicionados à pasta de entrada desta issue.

[2022-10-01 13:52] MariaLuizaReviliau commented on #1312
Documentos adicionados à pasta de entrada

[2022-10-03 04:44] brendaellen commented on #1033
@luizdameda gostaria de parabenizá-lo pelo ótimo trabalho que você fez, o manual ficou maravilhoso, inclusive a nova versão do infográfico. Em alguns trechos eu notei pequenos erros ortográficos, que podem ter surgido no processo de troca de fonte, copie e cola, etc. Então deixei alguns comentários para que essas alterações sejam feitas. Quanto aos créditos, também deixei um comentário para que se

[2022-10-03 12:25] MariaLuizaReviliau commented on #1311
Formulário adicionado á pasta de entrada

[2022-10-03 12:47] MariaLuizaReviliau opened #1316 "Cartilha - Diagramação: PROCESSO DE ENFERMAGEM: GUIA PARA A PRÁTICA"
Essa issue tem por objetivo a diagramação de uma cartilha.
**Link mural**: https://practice.uffs.edu.br/mural/servico/90
**Descrição**:
O material consiste em um guia elaborado com base científica nas últimas publicações sobre o Processo de Enfermagem (PE). Ademais, esse é acompanhado por quatro vídeos que abordam as etapas do PE. Ao fim do guia encontram-se questões a serem resolvidas com intuito

[2022-10-03 12:55] MariaLuizaReviliau commented on #1316
Neste link ancontra-se o texto pronto para a diagramação: https://drive.google.com/file/d/1m_WhjW0sc1LvFn7Q3-GeuLqedc13QvWX/view

**Aqui algumas orientações repassadas pela solicitante via whatsapp:**

- O formato, sequencia de paginas e numeração, ordem das informações é aquele enviado no site
- Cada título deve ter a númeração assim como esta no mesmo documento
- As tabelas e e quadros podem ser

[2022-10-03 18:49] patitrev opened #1317 "Agenda de Lives da semana 03 à 07/10"
para fazer divulgação no instagram

[2022-10-03 19:07] kamila-rosa commented on #1311
Boa tarde! A live desta issue foi cancelada por motivos de falha na conexão do PC remoto de Chapecó e diversos imprevistos com a solicitante.
A live seria realizada por mim, com o auxílio do @Edu-F-Dias e assistência da @MariaLuizaReviliau e @luizatonial, devido esta live ter sido a primeira que realizaria no programa. Contudo, devido à inúmeras falhas cometidas pela solicitante, como por exemplo,

[2022-10-03 20:05] MariaLuizaReviliau opened #1318 "Live: X SEMANA DA SAÚDE DO SERVIDOR - EFEITOS PSICOSSOCIAIS DO COVID E PÓS-COVID (04/10/22 - 10:00h)"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: X SEMANA DA SAÚDE DO SERVIDOR - EFEITOS PSICOSSOCIAIS DO COVID E PÓS-COVID

**Data e Hora**: 04/10/22 - 10:00h

**Evento Geral** (se houver):  X SEMANA DA SAÚDE DO SERVIDOR

**Solicitante**: ANA LAURA NICOLETTI CARVALHO PETRY

**Realizador(es)**: SIASS, PRÓ-REITORIA GESTÃO DE PESSOAS

**Palestrante Principal**: Profa. Dra. Pr

[2022-10-04 11:18] Saene99 commented on #1317
As orientações de design para a agenda não foram seguidas. Foram criados dois stories de modelos diferentes para a mesma semana (um laranja e outro azul), mas deve ser utilizado o mesmo modelo para uma semana. Também, alguns elementos do design foram apagados, como as ondas no final da página do primeiro story e, não foi adicionado o retângulo para inserir o link do canal do youtube no story. A or

[2022-10-04 11:19] #1304 closed

[2022-10-04 12:11] morgana-mo opened #1319 "Novo formulário pesquisa de satisfação do cliente"
Conforme combinado é necessário uma nova versão do formulário de satisfação dos nossos clientes. Devem ser consideradosos serviços:

- [x] Serviços de edição de áudio;
- [x] Serviços de edição de vídeo;
- [x] Suporte de transmissões ao vivo;
- [x] Elaboração de identidade visual;
- [x] Revisão e diagramação de textos;
- [x] Espaço para sugestões;

O formulário pode abordar questões de sim ou não,

[2022-10-04 12:19] morgana-mo commented on #1319
O formulário anterior está na pasta de entrada

[2022-10-04 12:55] #1311 closed

[2022-10-04 13:03] robisonjose opened #1320 "Início de 10 roteiros para o Fronteira"
Deve-se iniciar a construção de 10 roteiros para os futuros episódios do Fronteira Cast.

Esse roteiro deve conter, no mínimo:

- Assunto bem claro;
- Perguntas norteadoras (pelo menos 5).

Também seria interessante pensar em quem poderia conversar sobre tal tema.

Cada roteiro deve estar em formato editável na pasta: [Roteiros > Em construção](https://drive.google.com/drive/u/0/folders/19qPUZ4VBx

[2022-10-04 13:05] MariaLuizaReviliau commented on #1309
Live realizada e [planilha](https://docs.google.com/spreadsheets/d/1e1Dritl0YD1UljjbF8AME4__hyOunQoFiXQerzoXluU/edit?pli=1#gid=1798347701) preenchida.

[2022-10-04 13:05] #1309 closed

[2022-10-04 13:35] robisonjose commented on #1319
Fiz uma cópia com o nome de "Robison editando - ..." e fiz alguns comentários no meio do formulário.

Depois que você fizer sua análise podemos conversar novamente, para ai sim, iniciar a construção de fato desse novo formulário.

[2022-10-04 14:29] MariaLuizaReviliau opened #1321 "Live: X Semana da Saúde do Servidor - Pós COVID: sintomas neurológicos (04/10/2022 - 14h)"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: X Semana da Saúde do Servidor - Pós COVID: sintomas neurológicos

**Data e Hora**: 04/10/2022 - 14h

**Evento Geral** (se houver): X Semana da Saúde do Servidor

**Solicitante**: Viviane Marmentini

**Realizador(es)**: SIASS

**Palestrante Principal**: Dr. Alison Roberto Castanho

**Solicitação no Mural**: https://practice.uf

[2022-10-04 19:15] ghost commented on #1314
Fiz propostas de ideias para postagens, do número 1 ao 7

[2022-10-04 21:15] luizdameda commented on #1272
Com a minha saída do programa, a demanda ficará sob responsabilidade da @minieradka, mas tendo em vista que o solicitante não retorna o contato há mais de um mês, acredito que a solicitação será cancelada

[2022-10-04 21:28] minieradka commented on #1254
como não obtivemos respostas e enviei dia 22 irei comunicar no email para encerrar essa demanda

[2022-10-04 21:31] minieradka commented on #1033
acredito que será necessário uma revisão gráfica minha, parabéns @luizdameda otimo trabalho, qnto mais pessoas olharem mais detalhes podemos arrumar antes de divulgar. Aviso aqui qnd iniciar a revisão acredito que amanha

[2022-10-04 21:34] luizdameda commented on #1033
Acabei de finalizar as alterações apontadas pela Brenda! E concordo com a @minieradka, quanto mais pessoas olharem, mais detalhes podemos arrumar... as vezes de tanto que estamos trabalhando no mesmo material, algumas coisas podem passar batido.

Sigo com dúvida principalmente na página de créditos onde deixei uma observação, no restante acho que está ok. Qualquer coisa podem me marcar aqui ou cha

[2022-10-04 21:45] minieradka commented on #1033
ok luiz muito obrigada pela dedicação, irei olhar os comentários seus

[2022-10-04 21:45] luizatonial opened #1322 "Gravação no Estúdio de Erechim - Vídeo: Curso Escola Aqui Fronteiras Sonoras"
<h1 align="center" >Informações Produção do Vídeo</h1>

**Titulo**: Curso Escola Aqui: Fronteiras Sonoras

**Solicitante**: KAUARA LETICIA ALIEVI DA SILVA

**Realizador(es)**: Extensão - Erechim

**Complementos**: como o estúdio do PRACTICE em Erechim está sendo utilizado por outros grupos de extensão, com equipamentos adicionais e, aparentemente, com um funcionamento adequado, o estúdio será util

[2022-10-04 21:47] minieradka commented on #1273
mulher sinaliza pra mim quem precisa do acesso que libero o figma infelizmente é tudo manualmente. consegui a planilha com os dados de email

[2022-10-04 21:54] minieradka commented on #1255
estou trabalhando nas ilustrações das duas personagens femininas em breve adiciono aqui, estou aprendendo a usar a mesa digitalizadora tbm

[2022-10-04 21:57] minieradka commented on #1229
combinamos um momento com o responsável do campus pelos estúdios e equipamentos, e infelizmente não compareceu na reunião. Então ainda não conseguimos dar baixa nos patrimônios e nos materiais do estúdio e não sabemos o que chegou para o campus

[2022-10-04 21:59] minieradka commented on #1203
entrarei em contato por email já que não recebemos respostas e nem visualização nos arquivos já enviados a duas semanas

[2022-10-04 22:01] minieradka commented on #1181
o material foi aprovado por email, parabéns aos envolvidos no projeto

[2022-10-04 22:01] #1181 closed

[2022-10-04 22:27] ghost commented on #1229
Marcamos @minieradka e @MariaLuizaReviliau de encontrar o Eloir (técnico) hoje para vermos a questão do estúdio, porém ele não foi. Marcou de nos encontrar amanhã

[2022-10-05 02:53] luizatonial commented on #1270
desculpem a demora para revisar... e além disso caso já tenham debatido algo que vou falar aqui podem desconsiderar.
Achei que os vídeos ficaram de fácil visualização/acompanhamento, estão de parabéns! Interessante que eles tem quase a mesma duração também.

* Será que ao invés de usar um som curto de abertura não valeria a pena usar uma música com um começo legalzinho, começando mais baixa e quan

[2022-10-05 11:50] Saene99 commented on #1270
Adorei os vídeos, parabéns pelo trabalho!
Eu não entendo muito de vídeos, então minhas sugestões não são tão técnicas :)

- Na narração do final de todos os vídeos é falando o site do practice com "ufis". Não seria mais interessante falar "u éfe éfe ésse"?
- Sobre as capas: talvez agora que aquela faixa foi removida ficasse melhor os títulos centralizados, não sei. Quem fez (acho que foi a Amanda)

[2022-10-05 11:57] MariaLuizaReviliau commented on #1321
Live realizada e planilha preenchida

[2022-10-05 11:57] #1321 closed

[2022-10-05 12:52] Saene99 commented on #1314
Adorei as ideias, @julia-zanini !

Já podemos começar a criar esses conteúdos, pois além de escrever o conteúdo, temos toda a parte de design e/ou edição de vídeo para fazer e novembro está logo aí :D

Eu acredito que o tema "aplicativos para scannear documentos através de fotos" já possa ser criado. Eu sugiro que seja feito um carrossel. O documento para a criação do conteúdo já está na pasta de

[2022-10-05 15:51] ghost commented on #1270
gostei da ideia de colocar a música logo no começo do vídeo e depois abaixar o som.

eu também achei meio lento os vídeos, mas se for mais rápido fica ruim pra quem não sabe nada; mas se for mais lento, pra quem já sabe é só usar a ferramenta do youtube para acelerar, como você fez. então acho que é melhor deixar mais lento mesmo.

concordo com os apontamentos sobre os vídeos também. se @amandaseg

[2022-10-05 15:57] kamila-rosa commented on #1307
A capa foi criada [nesta página do figma](https://www.figma.com/file/BV9ASnUC3sPRVoxPQtDLM9/Eventos-%C3%BAnicos?node-id=804%3A2), adicionarei na pasta de saída da issue e na transmissão programada no YouTube.

[2022-10-05 15:57] ghost commented on #1270
sobre a forma como é dito uffs, eu pessoalmente prefiro uffs mesmo kk mas também fui eu que fiz a gravação, então vou preferir assim mesmo rs mas se todos preferirem da outra forma, não tem problema.

sobre a centralização dos textos no início do vídeo, concordo, acho que ficaria melhor centralizado e alinhado no centro.

então acho que fechamos na trilha sonora! fica então a trust

[2022-10-05 16:03] ghost commented on #1314
claro! vou estudar como foi feito o conteúdo das outras vezes e escrevo.

[2022-10-05 16:43] Saene99 commented on #1314
Ótimo! A #1291 é dos cards de outubro, se quiser se orientar como é feito :)

[2022-10-05 16:56] ghost commented on #1314
estou olhando já hihi
já escrevi um esboço de como poderia ser, mas olha, difícil hein
se quiser ver como está ficando...

[2022-10-05 18:18] robisonjose commented on #1270
@julia-zanini

já deu problema em outros projetos em que falamos "ufis". Então essa parte seria importante falar "U-F-F-S" mesmo.

Isso vale para todos os vídeos futuros: sempre falar "U-F-F-S".

[2022-10-05 18:53] robisonjose commented on #1270
@amandasegattob

eu não vi que você tinha me marcado aqui (há um bom tempo atrás), erro meu, desculpe.

(os comentários que farei aqui podem ter a ver com os que foram falados anteriormente, porém eu tento não ver o feedback de outras pessoas pra não entrar com "preconceitos")

Vídeos no geral:

1. Eu achei o som um pouco baixo. Coloquei tudo no máximo e mesmo assim ainda acho que poderia ser um p

[2022-10-06 11:06] MariaLuizaReviliau commented on #1258
Olá, estive lendo melhor e realmente acredito que seria "no mínimo" heheh

[2022-10-06 12:24] Saene99 commented on #1314
Adorei! Parabéns @julia-zanini ficou muito bom!

Eu inseri o slide 5 e o 7 e as descrições de imagem que poderão ser utilizadas.
Eu gostei muito do segundo título, ele sai da monotonia e desperta interesse e engajamento. Ótimo!

Assim que você achar que esteja ok, pode marcar a Brenda e a Amanda para elas revisarem :)

[2022-10-06 13:36] ghost commented on #1314
Acho que ficou ótimo!

@brendaellen e @amandasegattob poderiam revisar o conteúdo e ver o que acharam?

[2022-10-06 14:12] Saene99 commented on #1314
Maravilha. Eu sugiro que os próximos conteúdos a serem montados possam ser "Recomendação de sites acadêmicos para encontrar artigos" e "Como buscar livros no acervo da biblioteca".

@julia-zanini esse da biblioteca você tinha colocado junto com "Como fazer requisito para trazer livros de outros campi", mas sugiro que seja feito separado. Assim ficam posts mais curtos (rápidos e fáceis de fazer e q

[2022-10-06 14:23] ghost commented on #1314
certo!!

[2022-10-06 15:43] brendaellen commented on #1314
Adorei a ideia e o conteúdo:) Finalizei a revisão, e deixei um comentário com uma dúvida sobre um termo utilizado.

[2022-10-06 16:54] morgana-mo commented on #1319
Versão com minhas alterações `Pesquisa de satisfação-Sugestões Morgana`

Apontamentos extra:

- Não temos o mesmo número de perguntas em todas as seções, seria legal padronizar;
- Tem perguntas desnecessárias;
- Há contextos de perguntas  que talvez não façam tanto sentido;
- Um ponto que eu acho que a gente deve se atentar é manter só uma pergunta descritiva em cada seção de serviço
- O formulári

[2022-10-06 17:18] Saene99 commented on #1285
Inseri uma versão mais completa da descrição e alguns exemplos de posts.

[2022-10-07 11:58] robisonjose commented on #1285
@MaNegrao @vini2reis @elisribas

Dêem uma revisada na segunda versão da ID visual que está na pasta de saída.

[2022-10-07 14:29] amandasegattob commented on #1314
Oi gente, desculpa a demora. Eu achei bem boa a escrita, ficou simples e direto.

[2022-10-07 18:18] ghost commented on #1314
fiz revisão e algumas alterações na escrita do conteúdo da camscanner

[2022-10-07 19:24] ghost commented on #1314
escrevi o conteúdo para o post dos sites de artigos científicos. pensam que devemos apresentar mais detalhes sobre cada um deles, ou a forma como está, apenas citando, é a melhor? fiquei com medo de ficar muito escrito e poluir o material

[2022-10-07 19:51] ghost commented on #1314
agora fiquei pensando, talvez seja melhor um carrossel dando dicas de como deixar o computador mais rápido (limpar o disco, desinstalar programas etc) em vez de um reels ensinando como diminuir as configurações do windows. o que acham?

essa de diminuir as configurações é muito específico. quando fiz a proposta desse conteúdo eu tinha ficado na dúvida se seria uma boa ou não.

ou então podemos faz

[2022-10-08 06:34] ghost commented on #1270
regravei o áudio de todos os vídeos com a correção da pronuncia de UFFS. está na pasta "Regravação de áudios". eles estão sem edição, se quiserem posso editá-los

[2022-10-08 22:58] amandasegattob commented on #1314
Oi @julia-zanini! Eu acho que só citar eles é mais interessante. Uma coisa que tínhamos pensado na reunião é separar eles por áreas também, por exemplo nós da saúde usamos muito o PubMed, mas tem também o Medline e o IBECS.

Quanto ao post de deixar o computador mais rápido, acho que podemos começar com as dicas mais simples em um carrossel, depois vimos a necessidade do outro.

[2022-10-08 22:59] amandasegattob commented on #1314
Eu criei o [roteiro](https://docs.google.com/document/d/1lp4PO6ZhLzrlmpT6ERaSpBnphLp-PZZ8c-zMZojUC30/edit#) do reels sobre como acessar o acervo da biblioteca, mas não fiz o do mural porque o site tá fora do ar. Assim que voltar eu faço.

[2022-10-10 11:05] vini2reis commented on #1285
A logo eu gostei, achei que essa segunda cor ficou melhor ficou melhor que a da primeira versão.
Nos exemplos de posts os Exemplos 3 e 6 acabam que parte da logo se confunde com o fundo, uma sugestão seria colocar nesses exemplos a logo toda branca ou uma toda azul. Os outros exemplos eu gostei.
Também curti a vinhetinha.

[2022-10-10 11:38] kamila-rosa commented on #1297
Passando para avisar que a live foi realizada. A planilha de transmissões ao vivo já foi preenchida!

[2022-10-10 11:38] #1297 closed

[2022-10-10 11:46] kamila-rosa commented on #1316
Criei esta [página no figma](https://www.figma.com/file/5aKLNJZ7JWKldr72YNBOMQ/Cartilha?node-id=105%3A2) para trabalhar com a cartilha ;)

[2022-10-10 13:27] Saene99 commented on #1314
Olá, meninas!

Com relação aos títulos, eu gostei mais das segundas opções pois despertam mais curiosidade. Mas, de fato, eles estão muito longos, então ou tentamos reescrevê-los ou utilizamos os primeiros como título e os segundos como legenda.

Sobre o conteúdo dos sites, acredito que não precisa mais informações sobre eles @julia-zanini . Fazer um material mais leve, com menos informação, faz c

[2022-10-10 13:31] robisonjose commented on #1319
Fiz uma primeira versão utilizando os seus e os meus apontamentos.

Está com o nome de `Versão 2.0 - Pesquisa de satisfação`

[2022-10-10 15:09] morgana-mo commented on #1319
Me parece que as alterações ficaram adequadas, podemos pedir para alguns bolsistas testarem e opinarem, o que acha @robisonjose ?

[2022-10-10 15:14] Saene99 commented on #1314
@amandasegattob inseri os elementos gráficos para o reels do acervo da biblioteca na pasta dos reels :)

[2022-10-10 16:18] patitrev opened #1323 "Agenda de Lives de 17-10 à 21-10"
publicar os arquivos da pasta de entrada no instagram do PRACTICE

[2022-10-10 16:20] #1318 closed

[2022-10-10 16:21] #1312 closed

[2022-10-10 17:07] ghost commented on #1314
achei muito bom os reels! fiz algumas sugestões no documento.

farei então um carrossel para melhorar a performance do PC de forma simples

[2022-10-10 17:33] ghost commented on #1314
criei o carrossel de melhorar a performance do PC, mas ainda achei ele muito "elaborado", talvez ele fique melhor em reels. vejam o que acham

[2022-10-10 18:06] ghost commented on #1314
coloquei 3 novas propostas de conteúdo. não sei se elas se adequam  muito, mas estão na planilha

[2022-10-10 18:27] ghost commented on #1314
tentei fazer o reels de mudar as configurações do PC, mas ficou muito grande... está no documento REELS

[2022-10-10 19:56] Saene99 commented on #1314
@julia-zanini não sei de onde saem tantas ideias kkkk as suas ideias são ótimas! Apenas o de edição de fotos talvez não consigamos relacionar com a universidade, mas podemos discutir sobre ele na próxima reunião.

Com relação ao conteúdo do carrossel ele não está tão pequeno, mas nem tão grande rsrs. Talvez uma solução seria escrever o passo a passo como um passo a passo mesmo, por exemplo:

_Limp

[2022-10-11 00:33] MariaLuizaReviliau commented on #1308
Live realizada e planilha atualizada!

[2022-10-11 00:33] #1308 closed

[2022-10-11 00:38] MariaLuizaReviliau commented on #1306
live realizada e planilha preenchida!

[2022-10-11 00:38] #1306 closed

[2022-10-11 00:41] MariaLuizaReviliau commented on #1313
@Edu-F-Dias lembre de preencher a [planilha](https://drive.google.com/drive/folders/16h-YVwTnRF49eqBYBRONKyLqPbisCIbH) com os dados e depois fechar a issue.

[2022-10-11 13:00] robisonjose commented on #1319
vou só fazer uma revisão, ai podemos pedir para que eles testem sim.

Assim que eu terminar a revisão eu aviso aqui.

[2022-10-11 14:14] minieradka commented on #1254
[code]

[2022-10-11 14:24] minieradka commented on #1033
iniciei a revisão

[2022-10-11 14:29] robisonjose commented on #1319
terminei, adicionei umas coisinhas e tirei umas outras, mas nada de mais.

se quiser, pode enviar para o pessoal testar e opinar

[2022-10-11 16:08] morgana-mo commented on #1319
@luizatonial
@minieradka
@brendaellen
@MariaLuizaReviliau
Precisamos que vocês testem o [Formulário](https://forms.gle/CzazES2rCjjeeJD58) e deixem suas opiniões!

[2022-10-11 16:40] MariaLuizaReviliau opened #1324 "SEPE- Minicurso: Escrita científica; 17/10/2022 às 19h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:SEPE- Minicurso: Escrita científica

**Data e Hora**: 17/10/2022 às 19h

**Evento Geral** (se houver): SEPE

**Solicitante**: Renato Romano

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/100

**Link Transmissão**: Youtube da PROPEPG: https://youtu.be/ZpnKW

[2022-10-11 16:46] MariaLuizaReviliau opened #1325 "Live "Abertura XI SEPE" - 17/10/2022; 16h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Abertura XI SEPE

**Data e Hora**:17/10/2022; 16h

**Evento Geral** (se houver): SEPE

**Solicitante**:Renato Romano

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/100

**Link Transmissão**: youtube da propepg: https://youtu.be/f9XqK2U2cIw

**Sala webex**

[2022-10-11 16:50] minieradka commented on #1319
achei que ficou bem feito, porém achei q ficou muito extenso demorei talvez + de 10m pra responder ainda q não respondi sobre serviço de áudio e lives. sobre as demandas de design ficaram bem colocadas. outra coisa que reparei é que no inicio do formulário as respostas positivas estavam no final e depois elas estavam no meio ou no inicio na minha ideia fez com que fosse direto pra ultimas resposta

[2022-10-11 16:51] MariaLuizaReviliau opened #1326 "Live " Oficina: Descomplicando Editais e Resoluções" - 28/02/23; 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:  Oficina: Descomplicando Editais e Resoluções

**Data e Hora**: 28/02/23; 14h

**Evento Geral** (se houver): V Seminário da Política de Assistência Estudantil

**Solicitante**:Vanessa Ferreira do Lago

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/82

**L

[2022-10-11 16:53] MariaLuizaReviliau opened #1327 "Live "Abertura e roda de conversa: Qual o lugar dos NEABIs no espaço acadêmico? Reflexões sobre hierarquias e poder racial" - 24/10/22; 19:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:  Abertura e roda de conversa: Qual o lugar dos NEABIs no espaço acadêmico? Reflexões sobre hierarquias e poder racial

**Data e Hora**:25/10/22; 14h

**Evento Geral** (se houver): V Seminário da Política de Assistência Estudantil

**Solicitante**:Vanessa Ferreira do Lago

**Realizador(es)**:

**Palestrante Principal**:

**Sol

[2022-10-11 16:57] MariaLuizaReviliau opened #1328 "Live "Cerimônia de abertura do evento XII JIC e II SIMPÓS SUL" - 18/10/22; 16h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:  Cerimônia de abertura do evento  XII JIC e II SIMPÓS SUL

**Data e Hora**: 18/10/22; 16h

**Evento Geral** (se houver): XII JIC e II SIMPÓS SUL

**Solicitante**: Suianny Francini Luiz Michelon

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/88

**Link Tra

[2022-10-11 17:33] amandasegattob commented on #1314
Eu gostei desse formato para esse post, acho que fica melhor.

[2022-10-11 17:35] amandasegattob commented on #1314
Fiz o roteiro do outro reels, está no mesmo documento.

Posso dar início à narração do reels da biblioteca?

[2022-10-11 18:20] morgana-mo commented on #1255
@minieradka deixei mais um desenho na pasta de entrada, sub-pasta Teste dos desenhos

[2022-10-11 18:52] luizatonial commented on #1319
Vou listar algumas frases que achei estranhas pra começar, podem ignorar se quiserem kkk:
- "visando captar algumas informações sobre suas experiências com o programa, produto e/ou serviço que **recebeu de nossa equipe** e, também, possíveis sugestões de melhorias";
- "Terceiro bloco contém 6 perguntas, sendo o espaço para sugestões de melhorias."
- "Estima-se que levará cerca de 8 minutos para **

[2022-10-11 18:54] luizatonial commented on #1319
concordo com a michele nesse ponto da pergunta "Quanto aos dados solicitados no formulário, você considera que"

[2022-10-12 21:33] ghost commented on #1314
@Saene99 a ideia de editor de foto eu tinha pensando em algo relacionado a edição para colocar em trabalhos ou algo assim, com recorte de imagens, talvez colocando legendas ou elementos gráficos como setas e círculos

arrumei o texto sobre a performance do PC com as revisões da saene e da amanda. vejam o que acham agora.

@amandasegattob por mim pode dar início à gravação do reels da biblioteca si

[2022-10-12 21:35] ghost commented on #1314
acham que posso dar início a escrita de outro conteúdo? penso que o de fazer poster no canva seja bem interessante

[2022-10-13 02:00] ghost commented on #1314
gravei o áudio do reel da biblioteca para a amanda, que estava muito barulho para ela gravar

[2022-10-13 11:41] MariaLuizaReviliau opened #1329 "lIVE: II SIMPOS-SUL - Lançamento de livros; 21/10/11, 8:30H"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Lançamento de livros

**Data e Hora**: 21/10/11, 8:30H

**Evento Geral** (se houver):

**Solicitante**: Liziara Sarmento Portella

**Realizador(es)**: Diretoria de Pós-Graduação/PROPEPG

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/104

**Link Transmissão**: youtube da PROPE

[2022-10-13 11:43] MariaLuizaReviliau opened #1330 "Capa da live"
Essa issue tem por objetivo a confecção da cada da live, referente à issue #1329

[2022-10-13 11:58] MariaLuizaReviliau opened #1331 "Live: II SIMPOS-SUL - A UFFS como foco de pesquisa na Pós-Graduação ; 19/10/22, 8:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:  A UFFS como foco de pesquisa na Pós-Graduação

**Data e Hora**: 19/10/22, 8:30h

**Evento Geral** (se houver):  II SIMPOS-SUL

**Solicitante**: Liziara Sarmento Portella

**Realizador(es)**: Diretoria de Pós-Graduação/PROPEPG

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/10

[2022-10-13 11:59] MariaLuizaReviliau opened #1332 "Capa da live"

[2022-10-13 12:25] amandasegattob commented on #1314
Oi gente! Coloquei o reels da  biblioteca na pasta. Coloquei com e sem música de fundo. Não sei como vamos postar, se se adequa a alguma música do insta. Vejam o que acham!

[2022-10-13 13:00] Saene99 commented on #1314
Olá, gurias!

@julia-zanini agora entendi a sua ideia do editor de fotos, podemos conversar sobre ela e as outras ideias na sexta.

A Brenda colocou mais algumas sugestões de conteúdo e uma delas vem de encontro ao conteúdo que a Julia já produziu sobre os sites para referências bibliográficas. @julia-zanini na cartilha do PRACTICE sobre "[dicas para encontrar boas referências bibliográficas](http

[2022-10-13 13:13] robisonjose commented on #1319
@minieradka @luizatonial e todas que revisarem posteriormente.

Se puderem, dêem sugestões de correção junto dos apontamentos. Isso ajuda bastante na hora das alterações.

[2022-10-13 13:26] ghost commented on #1314
eu adorei o reels da biblioteca. preferi com a música também, e acho que deve aumentar o som mesmo.

quanto à ideia de colocar ícones indicando onde clicar, não sei se tem necessidade, nesses vídeos de instagram não é comum esses elementos de muita edição, não é? eu gostei da forma como ficou, mais clean.

sobre as referências da cartilha, eu propositalmente não tinha colocado os dois sites faltan

[2022-10-13 13:45] Saene99 commented on #1314
Eu acho que dá de colocar os site em inglês, sim. No meu curso nós utilizamos muitas fontes que não são nacionais :D

[2022-10-13 14:00] ghost commented on #1314
acrescentei!

[2022-10-13 14:11] Saene99 opened #1333 "Criação das postagens do mês de dezembro"
O objetivo dessa issue é a criação das postagens do mês de dezembro.

As artes serão criadas no [Figma](https://www.figma.com/file/vKsmv9TiwF1RFERsOEs31T/Issues---Instagram?node-id=1834%3A529&t=mfFTYXFnjGpKGjc0-0).

[2022-10-13 14:26] Saene99 commented on #1314
Está ótimo @julia-zanini !

Abri a issue de dezembro #1333 para você começar a construir os conteúdos. Pode começar pelo conteúdo Canva mesmo, não sei se você pensa em reels ou carrossel. Coloquei ele na programação dos cards, caso você queira fazer reels é só excluir do documento dos cards e criar o documento dos roteiros na pasta dos reels.

[2022-10-13 14:43] Saene99 commented on #1314
Coloquei o texto do carrossel de como melhorar a performance do PC na issue de dezembro para não ficar o reels e o post no mesmo mês.

Atualizei a [planilha de conteúdos](https://docs.google.com/spreadsheets/d/1HoGX4jzCXCInPOIMzyhzL8ycCjAn84WbrSK-IYHcLZk/edit#gid=0) com datas, vocês podem se orientar sobre o que é mais urgente por lá.

[2022-10-13 16:41] MariaLuizaReviliau commented on #1319
Revisei o formulário:

Sobre transmissões ao vivo:
No meu ver, essa pergunta (Houve muitos erros nas versões do seu produto? Se sim, poderia nos contar brevemente os equívocos cometidos pela equipe?) induz à confirmação de que ocorrem erros pela equipe do PRACTICE, a pergunta é mais para saber a quantia de erros kkk não sei se vocês me entendem mas talvez seria melhor tirar o "muitos", fica melhor

[2022-10-13 17:02] morgana-mo commented on #1255
@minieradka entreguei hoje o último desenho  dos três acima que eu havia iniciado.
Passarei a trabalhar no El cura, El ama e do Cervantes a beira da Janela

[2022-10-13 17:30] amandasegattob commented on #1270
Oi gente! Eu fiz as alterações faladas aqui nos vídeos 2, 3 e 4. Ainda preciso terminar do vídeo 1.

Do vídeo 2 e 3 eu regravei a tela. Coloquei a música, alterei as vinhetas e tentei sincronizar melhor. Vejam o que acham!

[2022-10-13 17:35] MariaLuizaReviliau commented on #1332
Coloquei uma material na pasta de entrada que eles produziram para você usar como referência

[2022-10-13 17:48] amandasegattob commented on #1314
Vou fazer as alterações no reels e gravar o áudio do outro.

Também revisei a escrita de como fazer solicitação de serviços, deixei pouquíssimas sugestões, está muito bem escrito. Uma coisa que pensei foi fazer um destaque "Solicitação de serviços" e colocar esses posts e o reels do mural. Acho que seria uma boa alternativa para deixar tudo junto e em destaque.

[2022-10-13 17:48] kamila-rosa commented on #1279
Trabalharei nas modificações pedidas pela solicitante [nesta página do figma](https://www.figma.com/file/7eEq7u7cLnoAjwsm1TsOBA/Grupos-de-Pequisa%2FExtens%C3%A3o?node-id=1287%3A4) e então farei o segundo envio.

[2022-10-13 19:50] MariaLuizaReviliau commented on #1273
A solicitante aprovou o material e não deseja nenhuma alteração! Parabéns pelo trabalho desenvolvido @Edu-F-Dias !!

[2022-10-13 19:50] #1273 closed

[2022-10-13 20:04] #1313 closed

[2022-10-13 20:11] MariaLuizaReviliau opened #1334 "Live: XI SEPE - Plano Estratégico de Relações Internacionais e Integração Regional da Universidad Nacional de Misiones; 19/10/22; 19:30H"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**:  Plano Estratégico de Relações Internacionais e Integração Regional da Universidad Nacional de Misiones

**Data e Hora**: 19/10/22; 19:30H

**Evento Geral** (se houver):

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**:https://practice.uffs.edu.br/mural/servico/100

**Link Transmiss

[2022-10-13 20:17] MariaLuizaReviliau opened #1335 "Live: SEPE - Minicurso - Similaridade e Plágio: Crie seu melhor trabalho acadêmico com originalidade na UFFS - 21/10/22; 13:30H"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Minicurso - Similaridade e Plágio: Crie seu melhor trabalho acadêmico com originalidade na UFFS

**Data e Hora**: 21/10/22; 13:30H

**Evento Geral** (se houver): SEPE

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**:

**Link Transmissão**: youtube da PROPEPG: https://youtu.be/7UEFkB

[2022-10-13 20:22] MariaLuizaReviliau opened #1336 "Live SEPE - Minicurso - Plataforma Lattes; 19/10/22; 13:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Minicurso - Plataforma Lattes

**Data e Hora**: 19/10/22; 13:30h

**Evento Geral** (se houver): SEPE

**Solicitante**:

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**:

**Link Transmissão**: youtube da PROPEPG: https://youtu.be/VztgSU2wgjo

**Sala do webex**: https://uffs.webex.com/join/propepg

**S

[2022-10-13 21:03] MariaLuizaReviliau opened #1337 "Capa para as lives do SEPE"
Essa issue tem por objetivo a confecção das capas das lives do SEPE
Optei por criar uma única issue onde será feito um modelo de capa e depois só será alterado as informções específicas de cada evento (data, horário, título, palestrantes...)

[2022-10-13 21:05] MariaLuizaReviliau commented on #1337
as capas estão sendo desenvolvidas neste link do figma: https://www.figma.com/file/G9FMttqK2yP4ez6dkSQUgR/Semanas-Acad%C3%AAmicas-e-Semin%C3%A1rios?node-id=601%3A7

[2022-10-14 00:50] amandasegattob commented on #1314
Oii, coloquei uma nova versão do reels na pasta.

@Saene99 consegue fazer a capa para o reels do mural? coloquei uma versão não finalizada na pasta também.

[2022-10-14 11:53] MariaLuizaReviliau commented on #1337
@kamila-rosa,  @Edu-F-Dias e @patitrev eu fiz 3 modelos no figma, se vocês puderem fazer uma revisão, dar sugestões ou apontamentos eu agradeço.
Vou aguardar a revisão de vocês para mim mandar para o solicitante escolher.

[2022-10-14 12:58] Saene99 commented on #1314
Oii, que legal que ficou @amandasegattob . Eu faço a capa sim! Meus comentários:

Reels solicitação de serviço:
- O vídeo ficou bem rapidinho e dinâmico, é bem a vibe do instagram rsrs;
- Na hora de digitar o "practice.uffs.edu.br" eu acho que, por mais que já apareça o site, seria interessante escrever todo ele e sincronizar com o áudio;
- Eu acho que daria de rolar a página onde temos que escolh

[2022-10-14 18:46] #1317 closed

[2022-10-17 12:01] ghost commented on #1314
Estava revendo o reels da biblioteca, e acho que falei muito devagar. O que acham de aumentar a velocidade do vídeo? Não acho que precisa de muito, mas um pouco seria bom; no outro reels, que a Amanda está falando, ta bem menos monótono kkk

A respeito do post sobre o Canva, decidimos em reunião, então, que iríamos fazer um post sobre as diferentes utilidades do Canva, e posteriormente um reels mo

[2022-10-17 12:22] Saene99 commented on #1323
Postado!

[2022-10-17 12:22] #1323 closed, assigned to patitrev, MariaLuizaReviliau, Saene99

[2022-10-17 13:07] Saene99 commented on #1314
Eu concordo em aumentar a velocidade do vídeo da biblioteca sim, acho que ficará melhor.

Sobre os posts do Canva, pode alterar lá na planilha sim. Fica a vontade pra fazer a divisão desses conteúdos como quiser :D

[2022-10-17 14:01] MaNegrao commented on #1285
Eu gostei do estilo e da vinheta, tá bem massa. Eu tenho só uma sugestão na logo, a escrita do 'Cast' pode ter uma fonte um pouco mais grossa, acho que ela tá um pouco distoante do "Fronteira".

[2022-10-17 14:03] MaNegrao commented on #1285
Sobre os exemplos, eu gostei do 2 e do 4, que tem o fundo claro, acho que fica mais limpo e confunde menos as cores. ademais tá tudo muito lindo, parabéns Saene.

Desculpa a demora para dar o feedback gente, as questões pessoais atrapalharam essas semanas

[2022-10-17 14:28] morgana-mo opened #1338 "Postar novos membros nas redes sociais"
Imagens na pasta de entrada para criação da imagem para as redes sociais.
@brendaellen revisar [textos das linhas 60,61 e 62.](https://docs.google.com/spreadsheets/d/15kGGrER8UTGQhPIvGm2jHhs3pEO6f7gqISZgRyqpMKE/edit#gid=745178717)

[2022-10-17 14:34] #1215 closed

[2022-10-17 16:47] MariaLuizaReviliau commented on #1325
capa da live e formulário na pasta de entrada

[2022-10-17 17:05] robisonjose commented on #1270
Eu achei bom. Acredito que tenha melhorado em relação à primeira versão.

A única coisa que acho interessante mudar é a vinheta do final. Acho que ficaria bem melhor colocar a [vinheta "original". ](https://drive.google.com/drive/u/0/folders/1FFTk2H4YLBYcyNhBaZ1NikGyIRYdy_RO). O que vocês acham?

Teve uma coisa que me incomodou um pouco que é a musica inicial (e que continua ao longo do vídeo). El

[2022-10-17 17:43] robisonjose commented on #1319
Fiz uma [nova versão](https://forms.gle/taPZtjQVaLo14tbn7) com as considerações de vocês. Aquelas que já fizeram uma primeira revisão, se puderem dar uma rápida revisada, eu agradeço.

@brendaellen aguardamos seu feedback inicial.

[2022-10-17 18:08] kamila-rosa commented on #1279
Finalizei as versões para o segundo envio desta ID Visual. Adicionei elas[ nesta pasta da issue](https://drive.google.com/drive/folders/1xsREddDwuSNMSC9vH9yCrC9WpbVAo0ve) e avisarei a solicitante pelo mural! ;)

[2022-10-17 20:24] MaNegrao commented on #1320
Roubei 2 dos exemplos e sugeri mais 5 temas. Eu pensei neles rapidamente e acredito que darão ótimas conversas, conforme eu for pensando na coversa de fato vou adicionando os tópicos nos roteiros. Assim que tivermos uma reunião da equipe será bem interesssante discurtimos os temas

[2022-10-17 20:49] amandasegattob commented on #1270
Oii @robisonjose! Então, eu não coloquei a original porque o site que tem lá é o antigo, aí não sei se ficaria bom.

Quanto à música, vou esperar o pessoal dar uma opinião, aí vou atrás de outras se precisar.

[2022-10-17 21:00] amandasegattob commented on #1314
Oi gente, coloquei os reels na pasta.

Eu acelerei a narração, mas parece que ficou estranho o som. Eu particularmente não achei monótono sem acelerar, mas qualquer coisa eu edito de novo por outro programa.

[2022-10-17 22:12] luizatonial commented on #1319
dei uma revisada rápida e parece estar ok, arrumei umas escritas... mas não tenho mais nada a acrescentar na revisão

[2022-10-17 22:35] luizatonial commented on #1270
Sobre a música: acredito que este tipo de trilha sonora é boa pro início, pra fazer a abertura do vídeo e dar aquele impacto de que está começando... mas quando baixa o volume ela não é tãaao agradável. Talvez seria melhor encontrar uma mais agradável para estes dois momentos? uma que fosse calma mas dinâmica, menos "agressiva"

Sobre o site aparecer na vinheta original: está errado realmente mas

[2022-10-17 22:55] ghost commented on #1314
Amanda, não acho que o vídeo acelerou muito, antes estava com 53 segundos e agora está com 52. Acho que da pra deixar mais rápido! Mas realmente, a voz ficou meio robótica. Se tiver outro programa que você possa acelerar o vídeo, acho que vale tentar. Se não tiver, eu posso fazer no meu aqui, acho que meu computador consegue renderizar o vídeo em HD, acredito que só não conseguia gravar a tela em

[2022-10-17 23:35] ghost commented on #1314
fiz algumas propostas e sugestões nos posts de solicitação de banner

[2022-10-18 00:05] ghost commented on #1333
criei o post de recomendações de sites para baixar livros. vejam o que acham. vou trabalhar no reels de sites de mapas mentais

[2022-10-18 00:38] MariaLuizaReviliau commented on #1324
Live finalizada e dados inseridos na planilha com sucesso!!

[2022-10-18 01:01] ghost commented on #1333
estou escrevendo o reels do mapa conceitual, mas esse eu preciso primeiro achar apps legais e testar, porque eu não conheço nenhum kkkk esse conteúdo vai demorar um pouco para sair

[2022-10-18 07:30] brendaellen commented on #1319
Revisei todo o conteúdo, e fiz algumas pequenas correções no texto. Quanto ao conteúdo em si, acredito que está bastante claro, completo e acessível. Minha única sugestão é que, se possível, seja acrescentada a seguinte frase junto a mensagem final:  "Sua resposta foi registrada. O PRACTICE agradece a sua contribuição."
Poderia ser isso ou algo do tipo, como forma de demonstrar cordialidade a quem

[2022-10-18 08:09] brendaellen commented on #1338
Texto revisado;)

[2022-10-18 11:48] robisonjose commented on #1270
De fato, o link que está na vinheta direciona pro site certo, porém, vou tentar fazer uma edição para colocar o site correto.

Espera eu sinalizar aqui, para então adicionar a vinheta final.

[2022-10-18 13:12] Saene99 commented on #1338
Os cards estão na pasta de saída e já foram adicionados ao calendário de postagem.

[2022-10-18 14:25] amandasegattob commented on #1314
Oie @julia-zanini! Em segundos não vai alterar muito mesmo, porque eu deixei mais tempo no final, na parte que aparece os resultados. A narração diminuiu 5 segundos. Tentei alterar a velocidade no Audacity e também fica robótica, se tu quiser tentar outro, pode tentar, não conheço mais editores de áudio. Não precisa alterar a velocidade do vídeo, só da narração que está na pasta. Depois eu sincron

[2022-10-18 14:41] Saene99 commented on #1333
Deixei uma sugestão de título para a post dos livros. Achei o conteúdo muito bom

[2022-10-18 14:54] Saene99 commented on #1314
Eu achei o reels do mural bem bom.

Sobre o da biblioteca, agora a velocidade ficou melhor, mas realmente o áudio está estranho. Em vez de tentar acelerar em outros aplicativos, não seria melhor regravar o áudio?

[2022-10-18 15:05] Saene99 commented on #1314
Eu ia postar o reels do mural, mas acabei pensando melhor... eu acho que tem que colocar um ponto de interrogação na capa, pois é uma pergunta e fica bem estranho sem. Estava programado para hoje, mas tudo bem se não tiver tempo de editar @amandasegattob

[2022-10-18 16:26] MariaLuizaReviliau commented on #1290
@Edu-F-Dias O formulário foi preenchido pela solicitante e já está na pasta de entrada desta issue.

[2022-10-18 16:30] #1324 closed, assigned to MariaLuizaReviliau

[2022-10-18 16:42] robisonjose opened #1339 "Adequação da vinheta do PRACTICE"
A vinheta "oficial" do PRACTICE está com o link do site errado:

![Captura de Tela (151)](https://user-images.githubusercontent.com/71669689/196491638-25a62451-45fb-4614-8393-fc94de1bf73e.png)

E também tem um "quadrado" com a resolução pixelada:

![Captura de Tela (150)](https://user-images.githubusercontent.com/71669689/196491700-796b0df0-4712-4665-8a37-a1f15fa51284.png)

Deve ser feita uma vers

[2022-10-18 16:47] robisonjose commented on #1339
A vinheta atualizada está na pasta de entrada. Colocarei ela nas outras pastas necessárias também.

[2022-10-18 16:47] #1339 closed, assigned to robisonjose

[2022-10-18 16:53] robisonjose commented on #1270
@amandasegattob

a nova vinheta está na pasta de entrada da issue #1339

caso tenha algum erro, me avise por favor

[2022-10-18 17:32] robisonjose commented on #1319
Adicionei a sua sugestão @brendaellen.

Também adicionei mais duas questões sobre Whatsapp (tempo de resposta e clareza).

@morgana-mo espero seu feedback em relação à essa ultima versão.

[2022-10-18 18:47] morgana-mo commented on #1319
A nova versão está bem boa na minha opinião
Não tenho nada a acrescentar além do que as gurias colocaram !
Ele está mais suscinto, eu levei 8 min pra responder :)

[2022-10-19 11:06] amandasegattob commented on #1314
Coloquei o vídeo alterado na pasta.

Acredito que é melhor regravar sim. @julia-zanini tu consegue?

[2022-10-19 11:33] Saene99 commented on #1314
Gente, uma coisa que lembrei agora, nós não estamos legendando os reels. Eu acho que é um fator bem importante para inclusão!

[2022-10-19 12:25] Saene99 commented on #1270
Achei bem bom!
Com relação a música, ela não me incomodou de início. Achei que combinou bastante com a abertura dos vídeos. Mas, de fato, ela não combina tanto com o restante.

[2022-10-19 13:15] amandasegattob commented on #1314
Coloquei o reels do mural legendado na pasta. Fiz duas versões, uma com
a legenda branca e outra, amarela.

Qual vocês acham melhor? Eu gostei mais da branca.

[2022-10-19 13:24] Saene99 commented on #1314
Ótimo! Também achei o branco mais bonito. Acho que hoje vai dar de postar rsrs

[2022-10-19 14:21] Edu-F-Dias commented on #1302
Está finalizado. Coloquei os banners no mesmo formato de Apresentações do Google e deixei na mesma pasta do drive dos outros que já haviam sido criados.

[2022-10-19 14:22] kamila-rosa commented on #1331
As informações desta live já foram inseridas na [planilha de Transmissões ao vivo](https://docs.google.com/spreadsheets/d/1e1Dritl0YD1UljjbF8AME4__hyOunQoFiXQerzoXluU/edit#gid=1798347701).

[2022-10-19 14:22] #1331 closed, assigned to kamila-rosa

[2022-10-19 14:23] morgana-mo opened #1340 "Relatório de atividades do PRACTICE"
Relatório de atividades do PRACTICE,
Com números de atendimentos por categoria:
Design:
Identidades visuais,
Panfletos,
Cartazes.

Lives:
Quantidade,
Publico das Lives.

Aplicativos:
quantidade de vezes baixado.

E o que mais for possível angariar de dados semestrais e acumulados.

[2022-10-19 14:30] ghost commented on #1314
Eu também gostei mais da legenda branca, mas achei as letras meio grossas. Sei que é a grossura padrão de legenda, mas a tela do celular é tão pequenininha pra uma legenda tão grossa... será se teria como deixar mais fina?

Regravo o áudio da biblioteca sim, terá que ser de noite, que não tem barulho. Agora durante o dia é impossível kk

[2022-10-19 14:33] ghost commented on #1314
Ah! E não achei que tem necessidade de uma interrogação na capa do reels do mural não. Não é necessariamente uma pergunta a capa, é o título, "Como" fazer algo. A pergunta é na narração só. Pelo menos é o que eu acho

[2022-10-19 14:43] Saene99 commented on #1314
É que antes estava escrito como está na narração, agora a Amanda mudou e não deixou mais como pergunta

[2022-10-19 15:21] ghost commented on #1270
Coloquei algumas outras propostas de músicas. Eu gostei da Woodpecker para o corpo do vídeo, mas vejam o que acham

[2022-10-19 15:28] amandasegattob commented on #1314
Eu tbm achei meio grossa, mas isso foi o máximo que consegui. E mais fina eu acho que ficaria ruim de enxergar.

[2022-10-19 15:38] ghost commented on #1270
No vídeo do Documentos tem uma fala repetida, no minuto 8:20. Eu falo "Além disso, na última linha da tabela é só apertar o botão TAB..." mas depois eu corrigi "Além disso, na última linha e coluna da tabela é só..." então teria que tirar a primeira fala e deixar só a segunda rsssss

E achei as cores que a Amanda escolheu para as letras muito próximas ao preto, nem parece que mudou de cor kk mas i

[2022-10-19 15:41] ghost commented on #1314
então por mim já pode ser postado!

[2022-10-19 17:03] morgana-mo commented on #1340
Vou ir coletando algumas informações e adicionando aqui na issue:
Destaque para a criação de  13  documentos digitais disponibilizados em nosso site:

- Orientações para participação de intérpretes em lives
- Dicas para uma boa apresentação de slides
- Dicas de produção de videoaula
- Dicas para escrever um bom texto
- Licenças creative commons
- Criação e condução de videoconferências e lives
- E

[2022-10-19 17:16] morgana-mo commented on #1340
Um total de  26 identidades visuais desenvolvidas para cursos e programas.
equipe de design desenvolve dentro do PRACTICE serviços internos e externos (para a comunidade acadêmica) que envolvam criação de peças gráficas, dentre os trabalhos entregues e contabilizados foram desenvolvidos:

59 Capas de Lives: capas informativas de eventos virtuais realizados pelo PRACTICE para solicitantes da comuni

[2022-10-19 20:09] #1332 closed, assigned to Edu-F-Dias

[2022-10-20 00:04] MariaLuizaReviliau commented on #1334
Live realizada e dados inseridos na planilha

[2022-10-20 00:04] #1334 closed, assigned to MariaLuizaReviliau

[2022-10-20 13:54] amandasegattob commented on #1333
Deixei algumas sugestões no roteiro do post de livros também.

[2022-10-20 15:43] kamila-rosa commented on #1336
Live feita e [planilha de Transmissões ao vivo](https://docs.google.com/spreadsheets/d/1e1Dritl0YD1UljjbF8AME4__hyOunQoFiXQerzoXluU/edit#gid=1798347701) preenchida!

[2022-10-20 15:43] #1336 closed, assigned to kamila-rosa

[2022-10-20 16:41] elisribas commented on #1272
**Resposta Prof. Joel, por e-mail.**
----------
Olá Elisângela, tudo bem? Que bom seu contato, para iniciarmos a produção da identidade visual.
Então, o que temos até agora é o projeto escrito, não sei se precisa que te envie, ou te passe algumas informações gerais por aqui mesmo.
De modo geral, trata-se de um projeto de literatura com a produção de vídeos para as redes sociais. Então, pensamos em

[2022-10-20 16:42] elisribas commented on #1272
@MariaLuizaReviliau peço que esta demanda, aberta há bastante tempo, mas que só agora tivemos mais informações, seja acolhida pela equipe externa. A imagem de exemplo citada no e-mail do Joel está na caixa de entrada.

[2022-10-20 18:16] morgana-mo commented on #1340
LIVES:
JUNHO DE 2020 A DEZEMBRO DE 2020
62 Transmissões ao vivo

JANEIRO A MARÇO DE 2021
22 Transmissões ao vivo

ABRIL A JUNHO DE 2021
24 Transmissões ao vivo

JULHO A SETEMBRO DE 2021
43 Transmissões ao vivo

OUTUBRO A DEZEMBRO DE 2021
35 Transmissões ao vivo

2022
37  Transmissões ao vivo reaizadas até 20/10

[2022-10-20 18:28] MariaLuizaReviliau commented on #1337
Capas finalizadas... Foram adicionadas diretamente nas pastas das respectivas lives, mas também podem ser acessadas pelo link do figma acima.

[2022-10-20 18:28] #1337 closed, assigned to MariaLuizaReviliau

[2022-10-20 18:29] morgana-mo commented on #1340
De 2020 a 2022 foram editados um total de 99 vídeos, para professores, setores e projetos da UFFS.
Internamente foram produzidos 47 vídeos que vão desde a produções para nossas redes sociais até mesmo vídeos tutoriais que estão dispostos no nosso canal de conteúdos no YouTube

[2022-10-20 19:10] morgana-mo opened #1341 "Organização para envio das camisetas do PRACTICE"
Essa issue tem objetivo de organizar a distribuição das camisetas que a UFFS confeccionou para o PRACTICE.
[Planilha com os dados](https://docs.google.com/spreadsheets/d/1iK9eVfpMUK6qqRXyC_QYpq06QS26CjTqkBJKpmGLHEU/edit#gid=0)

[2022-10-20 19:16] morgana-mo commented on #1341
![image](https://user-images.githubusercontent.com/71781124/197038054-37a59426-8d03-4160-a75a-4dcebeadb244.png)

[2022-10-20 19:29] ghost commented on #1333
Escrevi o conteúdo para o reels do mapa conceitual, mas acho que ficou grande. Tentei diminuir ao máximo

Não consegui gravar a tela do celular também. Meu celular não tem a opção. Vou achar um app bom para baixar!

[2022-10-20 19:37] zorteaadriano opened #1342 "Treinamento dos novos integrantes"
Tutorial Laravel: https://www.youtube.com/watch?v=ImtZ5yENzgE&t=2s&ab_channel=freeCodeCamp.org

[2022-10-20 19:49] Edu-F-Dias commented on #1329
Criei a capa da live e já adicionei na pasta de entrada. Ficou nos mesmos moldes do cartaz que serviu de capa para a live de abertura do evento. Tomei a liberdade de enviar para a solicitante e ela aprovou.

[2022-10-20 19:57] MariaLuizaReviliau commented on #1330
o @Edu-F-Dias adicionou na pasta de entrada da live, que pode ser acessada por este link: https://drive.google.com/drive/u/2/folders/1eYqI5Tk8yqMoBuIrYsCJwA4peCU0MLKB

[2022-10-20 19:57] #1330 closed, assigned to nobody

[2022-10-20 20:13] MariaLuizaReviliau commented on #1272
ok @elisribas

[2022-10-20 20:24] MariaLuizaReviliau commented on #1272
Assim que possível, a @kamila-rosa dará continuidade ao trabalho desta issue

[2022-10-21 03:17] ghost commented on #1314
@amandasegattob regravei o áudio do reels da biblioteca. veja o que acham.

acho que demorei muito para escrever o reels nos aplicativos de mapa conceitual, vocês teriam que revisar ele antes para eu poder gravar o áudio e o reels, né? to me batendo para conseguir gravar a tela no celular na verdade

[2022-10-21 12:33] Saene99 commented on #1333
Fiz algumas sugestões no roteiro. Eu acho que daria de retirar aquelas partes que parecem tutoriais e deixar mais "falado", como se fosse apenas uma dica mesmo. Acredito que na gravação da tela pode aparecer tudo o que foi escrito, mas que não há necessidade de indicar que precisa clicar nos botões, por exemplo.

[2022-10-21 12:37] Saene99 commented on #1314
Eu revisei o conteúdo dos mapas e fiz algumas sugestões para ficar mais curto. Se não está conseguindo gravar a tela, podemos repensar a organização dessa tarefa

[2022-10-21 13:37] MariaLuizaReviliau commented on #1329
Live realizada com secesso e dados inseridos na planilha!

[2022-10-21 13:37] #1329 closed, assigned to MariaLuizaReviliau

[2022-10-21 16:45] kamila-rosa commented on #1279
Identidade Visual finalizada. A entrega final está nesta [pasta do drive](https://drive.google.com/drive/folders/1Pl2kz0CU2QaWDGRnuL1LRSu-CwD_PN2i). Avisarei a solicitante pelo mural.

[2022-10-21 18:38] MariaLuizaReviliau commented on #1335
Live realizada e dados inseridos na planilha!

[2022-10-21 18:38] #1335 closed, assigned to Edu-F-Dias

[2022-10-21 19:05] minieradka commented on #1033
deixei sinalizado no figma algumas pontuações para que alguém de continuidade , Acredito que seja necessário dar destaque em alguns momentos, remover os excessos de espaços nos textos, adicionar elementos de conexão entre os textos ícones imagens exemplo. deixar mais enxuto e melhor de ler e visualizar as informações, ainda parece uma leitura cansativa e pesada

[2022-10-21 19:29] elisribas commented on #1033
Olá! Algumas considerações sobre este projeto e quem for concluir o trabalho, favor atentar para isso:

1. Nós já tínhamos acertado em reunião que o nome deste documento seria Guia do Estudante e não mais Manual, muito menos de apoio. Então é necessário alterar o título e o seu nome no corpo do projeto.
2. Eu fiz a correção do doc e no lugar de 'Tática de Ensino', eu pedi para alterar para 'Estrat

[2022-10-21 20:21] morgana-mo commented on #1340
@zorteaadriano
Preciso do número de downloads dos app, usuários.
Mesma coisa pro site e pro Mural

[2022-10-21 20:43] luizdameda commented on #1033
Como recebi a notificação por email e estava com tempo livre, realizei essas alterações apontadas pela Elis para facilitar o trabalho da pessoa que dará seguimento, visto que já tenho a fonte dos títulos baixada e sei qual mackup foi usado hahah.

Acredito que o corpo do texto está todo correto porque, literalmente, copiei e colei tudo do documento corrigido (acabei não me atentando somente para o

[2022-10-21 20:46] elisribas commented on #1033
Oi, @luizdameda.
Agradeço pelos esclarecimentos.
Fico mais tranquila em saber que o conteúdo foi copiado na íntegra.
😘😘

[2022-10-22 03:24] Saene99 commented on #1291
@brendaellen no meio da reorganização de conteúdos, o post do CamScanner acabou vindo para outubro e eu não tenho certeza se já foi revisado por ti. Se não foi, pode revisar por gentileza?

[2022-10-23 13:23] #1279 closed

[2022-10-24 12:27] vini2reis commented on #1320
Sugeri outros 5 temas de episódios ("Esportes no ambiente Universitário", "Movimento Estudantil", "A Pandemia e o pós-Pandemia",  "Negacionismo" - acredito que esse se encaixa com o exemplo 3 -, "Discurso de ódio e a Liberdade de Expressão") que acredito que darão boas conversas e interesse do público. Ainda tenho uma outra ideia de tema que preferi levar para a reunião para discutirmos antes de a

[2022-10-24 16:28] patitrev opened #1343 "Agenda de Lives 24 à 28-10"
A imagem para ser postada no instagram está na pasta de entrada.

[2022-10-24 18:29] MariaLuizaReviliau commented on #1328
@Edu-F-Dias  os dados dessa live já foram inseridos na planilha de lives?
Se sim, por favor fechar a issue.

[2022-10-25 00:35] MariaLuizaReviliau commented on #1327
Live realizada e dados inseridos na planilha

[2022-10-25 00:35] #1327 closed, assigned to MariaLuizaReviliau

[2022-10-25 02:58] brendaellen commented on #1291
@Saene99 o texto já estava revisado, mas acabei inserindo uma última frase no final, então agora está Ok.

[2022-10-25 02:59] brendaellen commented on #1291
@Saene99 o texto que eu acrescentei foi só um complemento, então se você já tiver feito os cards, não precisa alterar

[2022-10-25 04:06] ghost commented on #1333
@brendaellen eu acredito que já seja possível fazer a revisão textual do roteiro do reels a respeito dos mapas conceituais, para então eu já fazer a gravação

[2022-10-25 06:59] brendaellen commented on #1314
Revisei todo o conteúdo de novembro, incluindo os roteiros para reels. Criei as legendas que faltavam, e acrescentei as hashtags em todos os textos (inclusive nos de outubro). Deixei um único comentário no texto sobre o Canva, pois fiquei em dúvida, então se puderem dar uma olhada :)

[2022-10-25 07:36] brendaellen commented on #1333
Roteiro revisado @julia-zanini , ficou ótimo! Deixei duas sugestões complementares, qualquer dúvida pode me chamar ;)

[2022-10-25 07:38] brendaellen commented on #1333
Também revisei texto do roteiro sobre Como requisitar livros de outro campi, e deixei algumas sugestões. Como eu sei que ainda não está pronto, posso revisar posteriormente sem problemas.

[2022-10-25 11:30] ghost commented on #1333
se ninguém tiver mais nenhuma consideração para o reels de mapa conceitual, gravarei o áudio essa noite

[2022-10-25 13:44] amandasegattob commented on #1314
Coloquei o reels da biblioteca na pasta. Também coloquei duas versões de legenda. Acredito que agora esteja pronto.

[2022-10-25 13:44] Saene99 commented on #1343
Fiz algumas alterações no alinhamento do design, está na pasta de saída. Já foi postado.

[2022-10-25 13:44] #1343 closed, assigned to patitrev, MariaLuizaReviliau, Saene99

[2022-10-25 13:46] Saene99 commented on #1291
Muito obrigada!

[2022-10-25 17:21] Saene99 commented on #1314
Sobre o reels da biblioteca, eu acho a legenda branca mais bonita, mas ela contrasta pouco. Então acho que a amarela fica melhor.
O tamanho da fonte para mim está ok, mas a Elis tinha reclamado que era muito pequena, essa já é a versão um pouco maior?

[2022-10-25 17:31] Saene99 commented on #1333
Está ótimo, por mim pode gravar!
Estou trabalhando na capa e elementos do reels, assim que finalizar aviso aqui :)

[2022-10-26 03:28] ghost commented on #1314
Confesso que com a legenda amarela não consegui ler nada. Achei melhor para ler a branca mesmo, nem que eu achei mais bonita, achei que a outra não dava para ler mesmo

[2022-10-26 04:05] ghost commented on #1333
Fiz o áudio do reels dos mapas conceituais. Podem ouvir e ver se acharam bom, para eu gravar a tela?

[2022-10-26 11:43] Saene99 commented on #1333
Ficou muito bom!

[2022-10-26 14:42] ghost commented on #1333
alterei o roteiro do reels dos mapas conceituais, porque tinha uns erros kkk vejam o que acham. vou regravar o áudio hoje de noite

[2022-10-26 14:51] Saene99 commented on #1333
Deixei apenas uma sugestão, acho que está muito bom

[2022-10-26 18:15] morgana-mo commented on #1319
Consegui a lista de emails do Mural :)

[2022-10-26 18:16] morgana-mo commented on #1319
@brendaellen consegue elaborar o texto para o email  com o formulário?

[2022-10-26 19:27] #1315 closed

[2022-10-26 19:59] minieradka commented on #1255
pasta atualizada

[2022-10-26 22:11] amandasegattob commented on #1314
Eu prefiro a branca também.

@Saene99 simm, é a maior. Acho que se aumentar mais vai esconder muito a tela.

[2022-10-26 22:37] amandasegattob commented on #1333
Oiee, não tava pronto kkk
Terminei ele agora, se quiserem revisar <3

[2022-10-26 22:38] amandasegattob commented on #1270
Coloquei os vídeos na pasta. Usei uma música que o @robisonjose sugeriu, eu particularmente gostei.

[2022-10-27 02:35] ghost commented on #1333
regravei o áudio dos mapas conceituais

[2022-10-27 11:21] ghost commented on #1270
eu gostei da música! só não sei se não ficou meio alta

e no vídeo do Apresentações a música acabou abruptamente (enquanto no vídeo do Drive ela foi abaixando de som) e antes mesmo de falar uffs.edu.br. talvez seja bom deixar igual todas as conclusões de vídeos quanto à música (ou fade out ou acabar de ver, mas deixar todos iguais)?

[2022-10-27 16:43] MariaLuizaReviliau commented on #1289
O material foi aprovado pelo solicitante através do mural, com isso vou fechar esta issue. Parabeéns @Edu-F-Dias pelo trabalho desenvolvido!!

[2022-10-27 16:43] #1289 closed

[2022-10-27 16:49] MariaLuizaReviliau commented on #1290
@Edu-F-Dias como está o desenvolvimento desta atividade? Se possível adicionar aqui o link de onde está sendo produzido o material por gentileza.

[2022-10-27 16:54] MariaLuizaReviliau commented on #1302
@Edu-F-Dias Assim que as correções forem feitas, me avisa por favor que daí eu já encaminho para o solicitante

[2022-10-27 17:04] MariaLuizaReviliau commented on #1326
@Edu-F-Dias a data desta transmissão foi alterada para dia 06/12 (terça), no mesmo horário (14h). Você pode continuar como responsável por está transmissão?

[2022-10-27 17:12] MariaLuizaReviliau commented on #1325
@Edu-F-Dias os dados desta live foram inseridos na planilha? Se sim, pode fechar a issue por favor.

[2022-10-27 17:19] #1325 closed, assigned to Edu-F-Dias

[2022-10-27 17:20] #1328 closed, assigned to Edu-F-Dias

[2022-10-27 18:52] kamila-rosa commented on #1316
Adicionei na [pasta de saída do drive](https://drive.google.com/drive/folders/1xd-CYn9uJSFnD1qQaCBUI4nwiNbqX62K) as versões para do primeiro envio da cartilha. Avisarei a solicitante pelo mural. ;)

[2022-10-27 20:38] zorteaadriano commented on #1340
Dados Mural:
105 Usuários
107 Pedidos

Site: não há nenhum monitoramento (adicionar o google analytics)

App-Practice: 61 downloads
Uffs Boas-Vindas: 242 downloads

@morgana-mo, consegui isso até o momento, vou ver se consigo obter algum dado do site mas como não havia monitoramento e não há usuários nele (somente no mural), ficou um pouco complicado.

[2022-10-27 22:10] Edu-F-Dias commented on #1302
As alterações foram feitas. Já coloquei as duas opções de cores alternativas na pasta do drive com todos os banners.

[2022-10-27 23:40] #1203 closed

[2022-10-28 20:18] Saene99 commented on #1033
Olá, pessoal.
Esqueci de avisar antes, mas estou fazendo as alterações que a Michele sugeriu lá no Figma.

Também gostaria de comentar que estou chocada com a qualidade desse trabalho! Amei tudo, desde o conteúdo a diagramação. Está muito lindo e com um conteúdo excelente, parabéns!!!

[2022-10-29 18:28] brendaellen commented on #1319
Enquanto elaborava o texto, surgiram algumas dúvidas:

O e-mail vai ser enviado apenas para os atuais solicitantes, ou também para os solicitantes anteriores e futuros?
Existe algum prazo ou limite estabelecido para que o solicitante preencha o formulário?
O texto desse e-mail será utilizado apenas nesse primeiro momento, ou será um texto base?

[2022-10-29 19:21] brendaellen commented on #1333
Revisei e deixei alguns comentários ;)

[2022-10-30 08:20] brendaellen commented on #1333
Revisei os textos sobre melhorias no computador e sobre os sites gratuitos para livros. Deixei algumas sugestões, mas qualquer dúvida pode falar comigo.
A propósito, gostaria que revisassem a legenda do Dezembro Vermelho e Laranja, pois estou em dúvida se o tamanho está legal ou não.
Também incluí o esboço do cronograma de posts do Guia do Estudante, agora só falta organizar as datas.
Quanto ao te

[2022-10-30 23:00] ghost commented on #1333
Fiz propostas tanto da legenda do Dezembro vermelho e laranja, quanto às ideias de alterações para o post de melhorias para o computador. Vejam o que acham.
Sobre o Guia do Estudante fiquei com uma dúvida, cada Tema será um post, ou iremos quebrar os Temas em diversos posts? Acredito que o primeiro Tema poderia ser quebrado em um post para cada conjunto de Dicas e os demais Temas publicados como e

[2022-10-31 00:04] robisonjose commented on #1340
https://www.canva.com/design/DAFQjCzKO70/B1Fh7TpTYpHfEwuV6XdLfw/view?utm_content=DAFQjCzKO70&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

fiz alguns gráficos, o que achas?

[2022-10-31 00:06] morgana-mo commented on #1340
Excelentes @robisonjose !

[2022-10-31 04:32] morgana-mo commented on #1319
Esse formulário no momento é para os solicitantes que já tiveram seus serviços encerrados no Mural/email.
Acredito que podemos passar a usa-lo mais vezes, realizando envios periódicos.

[2022-10-31 13:48] Saene99 commented on #1333
Deixei uma sugestão na legenda do dezembro vermelho e laranja. Sobre o Guia do Estudante eu concordo com a divisão que a Julia fez

[2022-10-31 16:26] morgana-mo commented on #1340
@robisonjose consegue adicionar os gráficos em formato png na pasta de entrada?

[2022-10-31 16:30] robisonjose commented on #1340
Consigo sim, @morgana-mo.

Tem mais algum gráfico que tu queira que eu faça?

[2022-10-31 16:33] morgana-mo commented on #1340
Acredito que sejam esses, o @lcaimi já olhou a apresentação e achou ela ok.

[2022-10-31 17:10] robisonjose commented on #1340
vou tentar pegar algumas estatísticas do insta

[2022-10-31 19:43] morgana-mo commented on #1340
@robisonjose  um comentário da  @elisribas
`Marechal Bormann é um distrito de Chapecó, talvez possamos colocar no título "10 locais com maiores acessos" ou colocar os dados de Bormann junto de Chapecó.`

[2022-10-31 20:30] robisonjose commented on #1340
Já fiz essa atualização e coloquei mais alguns dados do instagram (do 9 em diante é tudo do insta).

Acredito que esses dados do insta vão ser bem interessantes para fazer uma análise posterior. Vou levar esses dados para a reunião das redes sociais para conversar com o pessoal.

[2022-10-31 20:59] amandasegattob commented on #1270
Oie! Baixei o volume da música. O encerramento da música tá na mesma configuração para todos, eu acho que dependendo a parte da música, dá essa impressão. Tentei arrumar tbm.

@luizatonial  @robisonjose  @morgana-mo conforme o ok de vocês, eu e a Júlia já vamos começar a legendar os vídeos e postar no YouTube.

[2022-11-01 12:26] Saene99 commented on #1338
Todos os novos membros já foram postados

[2022-11-01 12:26] #1338 closed, assigned to Saene99

[2022-11-01 12:30] morgana-mo opened #1344 "Novo edital de dev-Cadastro de Reserva"

[2022-11-01 13:02] robisonjose commented on #1270
Da minha parte, tudo certo.

[2022-11-01 13:12] luizatonial commented on #1270
esqueci de comentar, mas achei que está ok tb

[2022-11-01 14:06] kamila-rosa commented on #1316
Dando continuidade ao trabalho com a cartilha após a primeira revisão da solicitante. O feedback foi feito pelo WhatsApp do PRACTICE.

[2022-11-01 15:00] minieradka commented on #1255
atualizei a pasta com o novo documento enviado

[2022-11-01 17:25] Edu-F-Dias commented on #1302
Ajustei o tamanho da fonte do banner de "La Mujer de Leonardo" como solicitado.

[2022-11-01 17:53] MariaLuizaReviliau opened #1345 "Live: II Polifonia Reúne - A metodologia Webquest (WQ) como ferramenta de ensino e aprendizagem na Educação Básica, com o professor Me. Bruno Ramires Zilli - 04/11/22 ás 19:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: II Polifonia Reúne - A metodologia Webquest (WQ) como ferramenta de ensino e aprendizagem na Educação Básica, com o professor Me. Bruno Ramires Zilli

**Data e Hora**: 04/11/22 ás 19:30h

**Evento Geral** (se houver): II Polifonia Reúne

**Solicitante**: Angelise Fagundes

**Realizador(es)**: Curso de Letras; Grupo de pesquis

[2022-11-01 18:10] Edu-F-Dias commented on #1290
Está sendo colocado aqui os arquivos que já estão em SVG: https://www.figma.com/file/7eEq7u7cLnoAjwsm1TsOBA/Grupos-de-Pequisa%2FExtens%C3%A3o?node-id=1644%3A144

[2022-11-02 17:44] ghost commented on #1333
Revisei alguns conteúdos e acredito que os posts de deixar o computador mais rápido e de sites gratuitos para livros estejam finalizados! Em uma próxima reunião podemos já colocar eles na fila de criação de arte etc.
Fiz algumas propostas no dezembro vermelho e laranja

[2022-11-03 05:03] brendaellen commented on #1333
Meninas, finalizei o conteúdo e a legenda do post sobre o que faz do Practice um programa inovador. Acredito que está ok, mas se quiserem dar mais uma olhadinha :)

[2022-11-03 06:02] brendaellen commented on #1319
Finalizei o texto. Deem uma olhada se de fato era essa a proposta, ou se tem algo a ser corrigido, e qualquer coisa podem me chamar!

[2022-11-03 11:15] Saene99 commented on #1333
Os conteúdos estão ótimos, gurias!

[2022-11-03 13:56] robisonjose opened #1346 "STAND-BY! Criação de modelos padrão de postagem"
Deverá ser construido alguns modelos para as postagens no instagram. Alguns posts que podem ter o modelo criado:

- [ ] Novo episódio;
- [ ] Próximo(s) convidado(s);
- [ ] Postagem sobre o episódio;
- [ ] Capa para o episódio;
- [ ] Episódios comemorativos;
- [ ] Post informativo (que tenha relação com o ep que foi lançado).

Isso que eu coloquei acima é uma ideia. Pode ser que nem faça sentido. A

[2022-11-03 14:00] robisonjose commented on #1319
Eu achei bom. Claro e sucinto.

[2022-11-03 16:34] ghost commented on #1314
Eu fiz a arte do carrossel do Canva. Não sei se ficou bom. Foi um processo kkk
Não sabia como baixar o arquivo certo, ele acabou baixando como uma tira toda, mas como vocês vão ainda dar opiniões para alterações, acho que não tem problema né. Está na pasta de entrada em Cards! Espero que achem bom.
Aguardo ideias de alterações!

[2022-11-03 16:57] morgana-mo commented on #1319
Ficou ótimo!
Obrigada @brendaellen !

[2022-11-03 17:24] patitrev opened #1347 "Agenda de Lives da Semana"
A imagem para postar no Instagram está na pasta de entrada

[2022-11-03 17:50] Saene99 commented on #1314
Eu deixei alguns comentários no Figma mesmo, mas são apenas sugestões. Ótimo trabalho, Julia :)

[2022-11-03 20:06] MariaLuizaReviliau opened #1348 "Criação de formulário para cartilha"
A confecção/diagramação de uma cartilha é um processo complexo, portanto temos a necessidade da produção de um formulário específico para cartilha, o qual será enviado ao solicitante buscando obter informações a cerca do material que ele espera ser produzido. Além disso, existem várias formas de cartilhas, com variações desde o tamanho, complexidade de elementos, quantidade de folhas, etc., isso t

[2022-11-03 20:25] MariaLuizaReviliau commented on #1302
Material aprovado pelo solicitante, parabéns pelo trabalho @Edu-F-Dias!

[2022-11-03 20:25] #1302 closed

[2022-11-04 11:44] Saene99 commented on #1347
Postado

[2022-11-04 11:44] #1347 closed, assigned to patitrev, MariaLuizaReviliau, Saene99

[2022-11-04 11:57] Saene99 commented on #1346
Todos os materiais para o Instagram do Fronteira Cast serão criados nesta [página do Figma](https://www.figma.com/file/cdSLpayPNHFcaZbGU71cPE/Fronteira-Cast---Instagram?node-id=0%3A1).

[2022-11-04 12:45] amandasegattob commented on #1270
Oi @brendaellen essa é a issue dos vídeos, o roteiro está [nessa](https://github.com/practice-uffs/programa/issues/1214). Quando terminar as descrições, pode colocar aqui mesmo. Muito obrigada!

[2022-11-04 12:54] amandasegattob commented on #1314
Eu gostei bastante. A única coisa que me incomodou foi a cor da capa, aquele azul mais fechado, não sei, parece que com a textura ele foge um pouco, mas no resto, achei ótimo. Parabéns, Júlia!

[2022-11-05 00:34] MariaLuizaReviliau commented on #1345
Live realizada e dados inseridos na planilha

[2022-11-05 00:34] #1345 closed, assigned to MariaLuizaReviliau

[2022-11-05 19:21] ghost commented on #1314
fiz edições que a saene comentou, mas queria ajuda kkk me ajuda saene? depois que ela me ajudar eu coloco o carrossel na pasta de entrada para todo mundo opinar

e mudei a cor do azul

fiz uma ideia de story também, vou colocar ela na pasta de card. vejam se era isso que estavamos pensando ou se nada a ver kkk
update: não consigo colocar a arte do story no drive. não consigo exportar o negócio kkk

[2022-11-06 04:44] brendaellen commented on #1333
Acrescentei o conteúdo sobre a divulgação prévia do Guia do Estudante. Também deixei um comentário lá para que vocês opinem!

[2022-11-07 16:04] ghost commented on #1314
eu coloquei na pasta de card os slides do carrossel do canva com as ideias da saene! acho que ficou muito legal, ela conseguiu resolver vários problemas que eu tinha kkkk mas não consegui colocar o último slide............. não sei exportar direito ainda e ele não veio. se quiserem ir revisando os slides que já tem lá

[2022-11-07 16:47] ghost commented on #1314
saene me ajudou. todos os slides estão lá para revisão!

[2022-11-07 17:26] ghost commented on #1314
coloquei dois storys para o canva. vejam se era isso mesmo o que queremos dos storys

[2022-11-07 19:58] kamila-rosa commented on #1348
Adicionei na [pasta de entrada da issue](https://drive.google.com/drive/folders/1WatjTiqam3ZNPTifd-CjsRR9AOvONSfq) o documento com as questões iniciais que enviei à um solicitante de cartilha. Essas questões me ajudaram bastante na elaboração desse tipo de produto, mas podemos melhorar e refinar elas. Sintam-se à vontade para editar esse doc, fazer sugestões, etc. ;)

[2022-11-08 01:23] zorteaadriano opened #1349 "Configuração de ambiente de trabalho"
Aqui nesta pasta temos os tutoriais:
https://drive.google.com/drive/folders/1VMFwYsk5OjIYGRAopmZXaKiUrO6XCDTl

Comecem pelo Mural, está bem completo com o que precisa pra rodar. O Website do programa não está com o vídeo, mas pode ser feito seguindo o [readme do repositório](https://github.com/practice-uffs/website-programa) (rolando pra baixo tem todos os passos que precisam ser feitos).
O forms

[2022-11-08 13:56] Saene99 commented on #1314
Seu design está muito bom, Julia!

Agora fui dar mais uma revisada e vi que no slice 7, no título está escrito "posteres". Eu acho que o correto é "pôsteres, não é?

Sobre os stories, eu acho que ficou um pouco cortada a relação entre o primeiro e o segundo. Acho que não houve interação com a pergunta que foi feita na enquete. Talvez a enquete não seja o elemento ideal pra esse conteúdo. Uma ideia

[2022-11-08 14:30] ghost commented on #1314
eu fiz duas [possíveis artes](https://drive.google.com/drive/folders/1RSd4-6cvhT0iOlIys9qLZgIofCQyJIVf) para a capa do reels de como deixar o computador mais rápido. não sei se ta adequado para o practice, porque ficou meio engraçadinho. se vocês acharem inadequado eu vou por outro caminho kkkk

[2022-11-08 14:43] Saene99 commented on #1314
Eu não acho que ficou inadequado, achei bem legal!

[2022-11-08 16:44] MariaLuizaReviliau opened #1350 "cartaz: Palestra sobre Inovação em Geotecnia: Novos materiais e soluções para velhos e novos problemas geotécnicos"
essa issue tem por objetivo a confecção de uma cartaz para divulgação do evento "Palestra sobre Inovação em Geotecnia: Novos materiais e soluções para velhos e novos problemas geotécnicos"

[2022-11-08 16:44] MariaLuizaReviliau commented on #1350
Descrição:
Palestra sobre Inovação em Geotecnia: Novos materiais e soluções para velhos e novos problemas geotécnicos promovida pelo Grupo de Pesquisa em Resíduos e Geotecnia Ambiental (REGEOAMB) da UFFS em conjunto com a UPF e URI com o Prof. Dr. Nilo Cesar Consoli pesquisador do Programa de Pós-Graduação em Engenharia Civil (PPGEC) da UFRGS.
A palestra será online no dia 24/11/2022, às 18 h, por

[2022-11-08 16:46] kamila-rosa commented on #1272
Darei continuidade ao trabalho feito pelos encarregados anteriores dessa issue. :D

[2022-11-09 02:42] Saene99 commented on #1285
Engrossei um pouco a fonte do "cast" e arrumei os exemplos de forma que dê mais destaque. Mas, de qualquer forma, os exemplos são apenas exemplos para ter como base no perfil.

Essas novas versões estão na pasta "3ª versão", na pasta de saída.

[2022-11-09 16:08] brendaellen commented on #1314
Eu adorei, mas acho que aquele amarelinho saindo de cima do computador lembra algo que está esquentando/queimando, então pode ser que não passe a ideia de rapidez.
Acho que daria pra colocar uns tracinhos na lateral do computador, assim como nessa [imagem](https://cdn-icons-png.flaticon.com/512/2972/2972562.png), ou então um [foguetinho](https://cdn-icons-png.flaticon.com/512/977/977606.png) bem d

[2022-11-09 16:18] ghost commented on #1314
eu tinha pensado na ideia do foguinho porque o computador que colocamos na capa é um velhinho né, dai a ideia seria mostrar que o pc velho ta sofrendinho e que a gente tem a resolução para isso! mas se você achou ficou estranho, eu faço outra

[2022-11-09 17:21] ghost commented on #1314
coloquei as ideias de storys para o post do canva no drive. percebi agora que era para termos postado esses storys ontem e o post do canva hoje! mas eu demorei muito para terminar a arte... de qualquer forma, está lá. vejam o que acham
eu pensei em colocar elementos gráficos (bonequinhos etc) porque é algo muito comum no canva, meio que já fazendo referência ao aplicativo. me digam o que acham

[2022-11-09 17:33] brendaellen commented on #1333
@amandasegattob poderia dar uma olhada no comentário que a Júlia deixou no primeiro conteúdo de dezembro?
Eu também estou em dúvida, e como se trata de um assunto muito sério, não podemos colocar desinformações.

[2022-11-09 18:55] minieradka commented on #1348
deixei sugestões no arquivo da pasta, acredito que os pontos que a kamila colocou são extremamente necessárias, muita coisa da pra aproveitar do formulário de identidade visual sobre cores e afins tbm

[2022-11-09 20:34] Saene99 commented on #1314
Eu entendi exatamente isso. Acho que está legal assim

[2022-11-09 20:50] Saene99 commented on #1314
Eu preciso arrumar as datas do calendário. Tinhamos conversado na reunião que vamos postar story na segunda antecedendo o post da terça; story "humanizado" na quarta; story na quinta antecedendo o post da sexta. Então esses stories do Canva são para amanhã e o post para sexta.

Eu achei eles lindos de maisss, coloquei algumas alterações bem simples no Figma. Parabéns pelo trabalho, Julia :)

[2022-11-09 21:00] ghost commented on #1314
no roteiro do reels de deixar o PC mais rápido eu acrescentei a parte que fica diferente para o windows 10 e o 11, poderiam revisar, ver se acham que ta ok? para dai eu regravar o áudio

[2022-11-10 00:42] Saene99 commented on #1314
Tenho uma dúvida: como será gravado a parte do Windows que não é do pc na Amanda? De qualquer forma, eu concordo com a Amanda de que é melhor começar pelo Windows que está sendo gravado.

Também tenho uma sugestão: talvez seja legal colocar o nome dos blocos como títulos para cada uma das dicas. Acho que ficaria melhor para separar uma dica da outra.

[2022-11-10 01:18] amandasegattob commented on #1314
@Saene99 sou eu que vou gravar sim. Eu deixei meus comentários no roteiro, esqueci de avisar aqui. Acho uma boa ideia isso dos títulos, dá pra fazer igual foi feito no reels de Apps para legendar vídeos (o mesmo padrão de como foi escrito o "mais rápido")
Para a capa desse reels, eu acho que poderia tirar a logo do PRACTICE e o site, mais por questão de padronização mesmo. Eu também não gostei mui

[2022-11-10 11:45] ghost commented on #1314
fiz as mudanças que a amanda propôs no roteiro das configurações do PC, acho que ficou melhor mesmo, amanda!
também tirei a borda da letra do escrito "como deixar seu computador" e tirei o logo do practice. deixei os documentos na pasta de entrada

fiz a arte para a proclamação da república. tentei fazer algo que não remeta a algo político, então usei um livro, meio que para mostrar que é um fato

[2022-11-10 13:26] Saene99 commented on #1314
Ameeei a ideia da Proclamação da República!! Mas achei que está com pouco destaque, pois as páginas do livro estão no mesmo tom da textura de fundo. Uma ideia seria substituir a textura do fundo por vários daqueles filmes fotográficos e deixá-los um pouco transparente, semelhante com aquele do CamScanner. Talvez fique legal, não sei... apenas uma ideia

[2022-11-10 23:46] amandasegattob commented on #1314
Acho que agora o roteiro está ok, né?

Sobre a arte da Proclamação da República, eu gostei muito da ideia, mas achei meio simples também. Talvez daria para escrever algo na pagina em branco, destacar mais o título, colocar a data... não sei.

[2022-11-11 13:23] robisonjose commented on #1285
Show!

[2022-11-11 13:37] robisonjose opened #1351 "."
.

[2022-11-11 13:38] #1351 closed, assigned to nobody

[2022-11-11 13:47] robisonjose opened #1352 "Melhorias no Mural"
O objetivo dessa issue é para aqueles que utilizam ou já utilizaram o Mural possam dar sugestões de melhorias.

Toda sugestão é válida e bem-vinda.

Sintam-se livres para criticar, propor soluções, sugerir ideias, etc.

O prazo para que isso seja feito é até a próxima quarta-feira (23/11).

OBS: Podem utilizar outras ferramentas que não a escrita para propor as melhorias. Fotos e vídeos explicativ

[2022-11-11 14:34] elisribas commented on #1352
Quando se tratar de alguma entrega e não transmissão, sugiro que seja apresentado o prazo estimado para apresentar o produto ao solicitante.

[2022-11-11 16:53] Saene99 opened #1353 "Estratégias de engajamento Redes Sociais"
Essa issue tem por objetivo levantar estratégias para alcançarmos maior público pelas redes sociais.

No dia 16/10 (quarta-feira) às 10 horas da manhã, teremos uma reunião com a Lilian, onde discutiremos tais estratégias.

[2022-11-11 17:05] Saene99 commented on #1353
Na pasta de entrada dessa issue se encontra o documento para pauta da reunião com a Lilian.

**Deveremos anotar nossas dúvidas e/ou tópicos antecipadamente para discutirmos e recebermos auxílio da nossa convidada.**

[2022-11-11 17:17] elisribas commented on #1353
Ótimo, vamos lá.

[2022-11-11 22:25] MariaLuizaReviliau commented on #1350
Os materiais encaminhados pelo solicitante estão na pasta de entrada desta issue (logo e imagem do palestrantre), também deve ser inserida a logo da UFFS.
Em conversa com o solicitante, expliquei que em vez de colocar todo esse texto que ele mandou no cartaz, que fosse inserido apenas as informações indispensáveis, como data, horário, tema da palestra, nome do palestrante e link da reunião no zoom

[2022-11-11 22:29] Edu-F-Dias commented on #1290
Adicionei  entrega intermediária no drive.

[2022-11-11 22:53] MariaLuizaReviliau commented on #1290
Enviado para a solicitante, aguardando feedback!

[2022-11-12 00:39] amandasegattob commented on #1245
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:39] #1245 closed

[2022-11-12 00:40] amandasegattob commented on #1246
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:40] #1246 closed

[2022-11-12 00:40] amandasegattob commented on #1247
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:40] #1247 closed

[2022-11-12 00:41] amandasegattob commented on #1248
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:41] #1248 closed

[2022-11-12 00:41] amandasegattob commented on #1250
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:41] #1250 closed

[2022-11-12 00:41] amandasegattob commented on #1249
Como conversado em reunião com a Elis, decidimos condensar as informações dessa issue em um só documento, que está na na issue principal #1238.

[2022-11-12 00:41] #1249 closed

[2022-11-12 01:05] kamila-rosa commented on #1272
Finalizei as identidades visuais do primeiro envio. Adicionei elas na [pasta de saída da issue](https://drive.google.com/drive/folders/1blYd6jbsaA7chrU8M-100B5xKVa2Sl_u).
Irei avisar o solicitante pelo mural, mas peço que a @MariaLuizaReviliau ou @elisribas também comuniquem os solicitantes, seja pelo WhatsApp do PRACTICE ou por outro meio, visto que esta demanda é antiga. Se puderem fazer isto, a

[2022-11-13 18:31] ghost commented on #1314
coloquei o card editado da proclamação da república na pasta de entrada. vejam o que acham

[2022-11-14 19:53] brendaellen commented on #1270
Finalizei as descrições, estão [nessa pasta](https://drive.google.com/drive/folders/1UPZN0XlVugVoO1pdcgCnPlG5s6FdFg6i)!

[2022-11-14 20:10] brendaellen commented on #1333
Elaborei o cronograma de postagens do Guia do Estudante, e o texto de divulgação oficial do guia. Poderiam dar uma olhada? Estão [aqui](https://drive.google.com/drive/folders/1C8RXNeKitrbNBLRRDRww6du-SRY_AZnH)

[2022-11-15 15:10] amandasegattob commented on #1333
Oi gurias! Coloquei o reels de como requisitar livros na pasta, vejam o que acham. Ainda não está com a capa, mas deixei a mesma do outro reels pra mostrar como vai ser. E também não tem trilha sonora pq vou colocar direto no Instagram.

[2022-11-16 11:13] ghost commented on #1314
fiz o card da consciência negra, mas achei meio simples. está na pasta de entrada. podem dar ideias?

[2022-11-16 11:32] ghost commented on #1314
eu coloquei os cards dos títulos das partes do reels de deixar o pc mais rápido, mas não sei se era isso que era para fazer kkkk @amandasegattob consegue me dizer se era isso que você precisava ou se eu fiz errado? rs

[2022-11-16 11:55] amandasegattob commented on #1314
Oie @julia-zanini! Eu tinha pensado como os que estão nessa [pasta](https://drive.google.com/drive/folders/1iqgEcvNIwQVn20iZusIzPCV62vNDqIIp). Tu conseguiu gravar a narração?

[2022-11-16 14:24] ghost commented on #1314
certo! vou refazer então. eu tinha feito seguindo a fonte maior da capa do reels, mas então vou fazer seguindo como se fossem anotaçõezinhas. ainda não gravei o áudio. vou gravar hoje de madrugada

[2022-11-16 14:30] robisonjose commented on #1352
@kamila-rosa @patitrev @luizatonial @MariaLuizaReviliau @Edu-F-Dias

ATENÇÃO COM ESSA TAREFA!! A data de finalização dela foi prorrogada!! Finalizem até a próxima quarta (23/11).

[2022-11-16 15:04] Saene99 commented on #1314
Muito lindo Julia! Só está faltando nosso @ e a logo.
Será que não ficar melhor colocar "Dia da Consciência Negra?". E será que não há uma frase bacana para colocarmos como um segundo papelzinho? @brendaellen consegue ajudar?

[2022-11-16 15:16] Saene99 commented on #1314
Melhor, talvez no lugar da frase, colocar mais um papelzinho (menor, com outro formato, quem sabe até redondo) naquele espaço vazio, com um punho, o símbolo do movimento (deixei uma sugestão de imagem no Figma - há várias no Unsplash)

[2022-11-16 16:19] MariaLuizaReviliau commented on #1348
Acredito que esse material está ficando bem completo, deixei algumas sugestões também embora eu nunca tenha feito uma diagramação kkk vamos aguardar até sexta para que os demais @Saene99 @Edu-F-Dias @patitrev possam dar suas sugestões também, depois a @kamila-rosa e o @Edu-F-Dias podem transformar essas sugestões em perguntas, fazemos uma breve revisão e encaminhamos para a confecção do formulário

[2022-11-16 17:20] morgana-mo commented on #1352
Tenho duas:
1-Termos acesso as avaliações das demandas que surgem depois que elas são encerradas, atualmente ninguém sabe pra onde vai as respostas e o mesmo serve para os feedbacks.

2-Algumas forma dos solicitantes  verem [isso](https://practice.uffs.edu.br/servico/prazos-de-solicitacao/), ao fazerem sua solicitação (acredito que um pop-up seja o ideal).

[2022-11-16 17:46] luizatonial commented on #1322
estou aguardando o contado da @cliente para realizar a última gravação novamente e encerrar a issue.

[2022-11-16 17:55] luizatonial commented on #1352
vou fazer alguns comentários de quando eu utilizava mais o mural... se tiver algo que não for mais pertinente sobre algo q eu falei ignorem
* o mural tá sempre fora e recebemos constantes reclamações, isso teria q ser resolvido urgente
* sei que as mensagens do mural o bot replica nas issues mas o contrário não acontece ainda? seria util pra poupar tempo / as pastas e arquivos também não funcionav

[2022-11-16 18:07] ghost commented on #1314
@amandasegattob coloquei os títulos novos

@Saene99 coloquei o logo e o @ do practice (sempre esqueço né rs) e implementei a ideia que teve. gostei muita dela! só não sei se gostei da forma que coloquei ela ali. não sei

tá tudo na caixa de entrada

[2022-11-17 01:52] kamila-rosa commented on #1316
Inseri [aqui](https://drive.google.com/drive/folders/1Pxvbh1vzPtBMZvG48SZcQ40SVNXZFMt9) na pasta de saída do drive a cartilha completa em PDF (baixa resolução) e as páginas separadas em PNG (alta resolução). Avisarei a solicitante pelo mural e peço que a @MariaLuizaReviliau avise a solicitante pelo WhatsApp (caso o contato por este meio seja mais rápido), pois ainda é necessário que a solicitante

[2022-11-17 12:10] Saene99 commented on #1333
A capa e os demais elementos gráficos do reels de requisitar livros já estão na pasta. Acho que está tudo ok com o reels, Amanda! Lembrando que tem que legendar :D

Sobre o cronograma do Guia do Estudante confesso que fiquei um pouco perdida, podemos conversar sobre ele na reunião e a Brenda nos explicar como planejou

[2022-11-17 12:46] Saene99 commented on #1348
Olá, pessoal. Inseri algumas sugestões também. Acho que as perguntas estão bem legais e teremos um material que nos auxiliará muito!

[2022-11-17 14:32] brendaellen commented on #1348
Dei uma olhada nas perguntas e sugestões que foram feitas, e acho que o material vai ficar super completo. Assim que as questões forem organizadas podem me marcar para que eu revise, e se tiverem alguma dúvida em relação a construção do texto em si, podem deixar como comentário que eu verifico também ;)

[2022-11-17 18:09] kamila-rosa commented on #1348
Pessoal, fiz mais algumas sugestões no doc das questões iniciais e vi as que vocês deram. Fique muito feliz com a contribuição de vocês! O formulário vai ficar bem completo e vai ajudar muuuito, tanto à nós, quanto aos solicitantes.
Assim que todos derem suas contribuições irei reformular e criar as questões que faltam para o formulário. ;D

[2022-11-17 18:34] MariaLuizaReviliau commented on #1350
Material aprovado pelo solicitante através do mural

[2022-11-17 18:34] #1350 closed, assigned to patitrev

[2022-11-17 19:03] MariaLuizaReviliau opened #1354 "Live: II Conferência das Licenciaturas - Campus Realeza; 21/11/22 às 15h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Política de ingresso e de permanência dos estudantes no ensino superior.

**Data e Hora**: 21/11/22 às 15h

**Evento Geral** (se houver): II Conferência das Licenciaturas

**Solicitante**: Adair Perdomo Falcão

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servic

[2022-11-17 19:14] MariaLuizaReviliau opened #1355 "Live: II Conferência PIBID e PRP - 2022: Palestra: “Formação de Professores, Escola Pública e Democracia.”; 23/11/22 às 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Palestra: “Formação de Professores, Escola Pública e Democracia

**Data e Hora**: 23/11/22 às 14h

**Evento Geral** (se houver): II Conferência PIBID e PRP - 2022

**Solicitante**: Eduardo Luiz Tomasini

**Realizador(es)**:

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/113

[2022-11-17 19:33] MariaLuizaReviliau opened #1356 "Live "Semana da Consciência Negra UFFS-CL: Preconceito e Racismo"; 22/11/22 às 19:30h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Preconceito e Racismo

**Data e Hora**: 22/11/22 às 19:30h

**Evento Geral** (se houver): Semana da Consciência Negra UFFS-CL

**Solicitante**: Carline Andréa Welter

**Realizador(es)**: NEABI, ASCOM e Comissão de Eventos

**Palestrante Principal**:

**Solicitação no Mural**: https://practice.uffs.edu.br/mural/servico/114

**

[2022-11-17 19:46] MariaLuizaReviliau commented on #1354
Essa live será utilizada tanto para a live quanto para a capa da live, nas quais ficarão como responsáveis a @kamila-rosa (live) e o @Edu-F-Dias (capa da live).
A capa, após finalizada, pode ser adicionada na pasta de saída desta issue.

[2022-11-17 20:59] morgana-mo commented on #1255
@minieradka novo desenho na pasta de entrada, preciso melhorar ele ainda

[2022-11-17 23:03] amandasegattob commented on #1270
Oi gente, os vídeos estão (teoricamente) prontos para publicação!
Eu acho que seria interessante que as legendas passassem por revisão, não sei o quão necessário é, mas eu acho que os roteiros não teve uma revisão textual (me corrijam se eu estiver errada @julia-zanini @luizatonial). Se for necessário, acredito que a @brendaellen é a pessoa mais qualificada para isso.

[2022-11-17 23:28] robisonjose commented on #1270
É sempre interessante que seja feito uma revisão da legenda. E essa revisão pode ser feita diretamente no YouTube, editando as legendas no próprio editor do youtube.

[2022-11-18 00:28] robisonjose commented on #1268
Postei uma nova versão do reels de pronuncia na pasta de entrada (teste6) seguindo as alterações sugeridas pela @Saene99.

[2022-11-18 01:14] amandasegattob commented on #1333
Finalizei o reels. Está na pasta de entrada.

Sobre o cronograma do guia, eu também fiquei um pouco confusa.

[2022-11-18 01:20] Saene99 commented on #1268
Obrigada, Robison! @amandasegattob pode legendar naquele formato que estamos fazendo agora? :D

[2022-11-18 04:58] demostheneromane commented on #1342
Desenvolveu esse projeto baseado sobre o tutorial "Laravel PHP Framework Tutorial - Full Course for Beginners (2019)"

![2022-11-18 (1)](https://user-images.githubusercontent.com/92757855/202620426-5e67c48c-78d9-4de9-a000-1fd344580289.png)

[2022-11-18 10:25] amandasegattob commented on #1268
Bom dia!! Coloquei na pasta na versão branca e amarela.

[2022-11-18 10:34] amandasegattob commented on #1268
Bom dia! Coloquei duas versões na pasta, em amarelo e em branco.

[2022-11-18 12:34] Saene99 commented on #1268
Obrigada, Amanda! O reels já foi adicionado ao calendário de postagens, portanto, todas as tarefas dessa issue estão finalizadas.

Parabéns pelo trabalho, pessoal :D

[2022-11-18 12:34] #1268 closed

[2022-11-18 19:10] Edu-F-Dias commented on #1354
No formulário, o solicitante comentou que havia uma arte sendo preparada para o evento e que poderia servir de capa, mas que não a tinha em mãos ainda para encaminhar para nós. Devo entrar em contato com o solicitante para pedir esse material?

[2022-11-18 20:07] Saene99 opened #1357 "Copa do mundo 2022"
Nessa issue iremos construir o álbum de figurinhas do PRACTICE!
Aqui criaremos o design das figurinhas e, a partir delas, um reels, a fim de divulgar a seleção do PRACTICE nas redes sociais.
Por isso, é necessário que todos os bolsistas coloquem uma foto sua na [pasta de entrada](https://drive.google.com/drive/folders/1YwKGHPCuKIvcyCOnWP6aRHl_NYNpHz42) dessa issue, até dia **20/11 (domingo)**.

Or

[2022-11-18 20:12] Saene99 commented on #1357
As figurinhas serão criadas [aqui](https://www.figma.com/file/vKsmv9TiwF1RFERsOEs31T/Issues---Instagram?node-id=2035%3A528&t=V2Z4mfF2BfFknpeh-0) no Figma.

[2022-11-18 21:11] Edu-F-Dias commented on #1354
A capa foi finalizada e está na pasta de saída. Conversei com o solicitante e ele me passou o arquivo de imagem próprio do evento e me disse que poderíamos adaptar pelos padrões do PRACTICE. Foi o que eu fiz.

[2022-11-19 03:00] ghost commented on #1314
editei a arte da consciência negra, vejam se assim está mais empoderador. mantive a vibe do outro post, mudei as artes só

[2022-11-20 11:53] Saene99 commented on #1314
Está sim, Julia. Eu não tinha percebido antes que parte da logo do practice tinha ficado sobre a foto e parecia que estava faltando algumas letras. Tentei colocar em outros lugares e não ficou legal, por isso retirei. Não vejo problema em ficar sem, pois ainda ficou o nosso @ e o site.

[2022-11-20 16:50] robisonjose commented on #1346
Não tenho acesso à essa página do figma

[2022-11-21 13:28] morgana-mo commented on #1356
Eu vou estar presencialmente auxiliando a pedido da professora responsável pelo evento

[2022-11-21 13:55] Edu-F-Dias commented on #1352
Minha sugestão é de que quando quisermos acessar uma solicitação do mural pelo link que é colocado numa issue aqui no hub, isso seja melhorado para que funcione. Muitas vezes que eu tentei acessar direto não deu, aí tive que acessar primeiro a página inicial do mural e depois achar a solicitação.

[2022-11-21 14:43] gustavoSutil commented on #1342
Desenvolveu esta aplicação com base no curso: Desenvolvimento Web Avançado 2022 com PHP, Laravel e Vue.JS
![Captura de tela de 2022-11-21 11-34-38](https://user-images.githubusercontent.com/85875309/203083203-3689a465-4f10-40c7-8bca-1ffdb171714d.png)

[2022-11-21 16:57] patitrev opened #1358 "Agenda de Lives de 21 à 25/11"
imagem na pasta de entrada para ser postada no instagram

[2022-11-21 17:45] kamila-rosa commented on #1352
Minhas sugestões:
- Melhorar o funcionamento do mural, constantemente ele está fora e acaba dificultando ou impossibilitando nossa comunicação com os solicitantes;
- O bot por diversas vezes não replica aqui no GitHub as mensagens que enviamos pelo mural. Esse recurso, ao meu ver, é ótimo, mas tem que funcionar melhor, com mais rapidez e, de fato, funcionar;
- Me parece que os solicitantes inserem

[2022-11-21 17:49] Saene99 commented on #1358
Postado

[2022-11-21 17:49] #1358 closed, assigned to patitrev, MariaLuizaReviliau, Saene99

[2022-11-21 23:44] Saene99 commented on #1033
Oii gente. Finalizei a revisão no [Figma](https://www.figma.com/file/B8LEamJaVX0QmfOiPSNKml/Manual-do-Estudante?node-id=2%3A651&t=cYhkCiSXcuQipcf0-0)!

Fiz as alterações que a Michele sugeriu e algumas outras que julguei necessárias. A Brenda também sugeriu algumas correções tanto no conteúdo quanto no design, portanto, várias coisas foram alteradas, mas seguindo o padrão do design.

Da minha part

[2022-11-22 00:28] MariaLuizaReviliau commented on #1354
Mensagem do solicitante via mural:
"Bom dia Maria, surgiu um problema e vamos ter que cancelar o evento.
A palestrante pegou COVID e não vai poder participar.
O evento será reagendado para alguma data do ano que vem.
Nesse caso, solicito o cancelamento deste serviço. Futuramente, se necessário, eu solicito um novo.
Muito obrigado pela atenção!"

[2022-11-22 00:28] #1354 closed, assigned to kamila-rosa, Edu-F-Dias

[2022-11-22 00:39] MariaLuizaReviliau commented on #1352
A minha sugestão é que fosse informado em algúm lugar no mural, o número do whatsapp do PRACTICE, visto que muitos solicitantes acabam entrando em contato no whatsapp privado de alguns bolsistas, assim como devia ter um campo para o solicitante deixar o contato dele no momento que faz a solicitação, pois somente no formulário de lives é pedido o contato do solicitante.

[2022-11-22 12:47] Saene99 commented on #1357
As figurinhas de quem já enviou a foto estão na pasta de saída.

@practice-uffs/todos bora tirar foto!

[2022-11-22 13:24] minieradka commented on #1033
oi saene viu tem dois modos de baixar tu pode baixar um por um em pdf e juntar nesses sites (mas não recomendo perde qualidade kk) oq eu faria é copiar os frames e criar um novo arquivo só com a cartilha pronta, no canto superior em file tem a opção de export frames to pdf. q dai ele pega exatamente todos em só um arquivo. tentei selecionar os frames e exportar mais puxa tudo que tem dentro do fig

[2022-11-22 17:42] Saene99 commented on #1314
Oii, gurias. Tive uma ideia de reels com a trend do "[seu eu fosse...](https://www.instagram.com/p/CjlI7m-DqNB/)"!

A ideia é montar o reels pelo insta mesmo, então não terá roteiro. Eu pensei dessa forma:

-Cor: cores da nossa ID (os azuis, o amarelo, o laranja e talvez o branco);
-Lugar: poderiam ser fotos da UFFS e dos estúdios;
-Compromisso: tecnologia e inovação (talvez educação também);
-Out

[2022-11-22 18:36] robisonjose commented on #1357
coloquei minha foto na pasta de entrada

[2022-11-22 18:46] Saene99 opened #1359 "Humanização Redes Sociais"
Objetivando humanizar mais as redes sociais do PRACTICE, nessa issue devem ser inseridos materiais para a divulgação do trabalho dos bolsistas.

Esses materiais podem ser de todo tipo: desde apenas uma foto ou boomerang do trabalho que está realizando (p. ex. uma live) até vídeos acompanhando seu dia ou o processo de desenvolvimento do seu trabalho (p. ex. criação de uma id visual).

Ao inserir um

[2022-11-22 19:07] amandasegattob commented on #1314
Oie @Saene99! Eu acho a ideia legal, mas será que á não tá desatualizado?

[2022-11-22 19:17] Saene99 commented on #1314
Olha, eu acho que sim kkkk mas a trend da pronúncia também era bem antiga e nós fizemos. É só uma ideia, se acha que já não cabe mais, tudo bem...

[2022-11-22 20:43] MariaLuizaReviliau commented on #1282
Para uma melhor distribuição das tarefas durante essa nova sprint e também por essa tarefa estar aberta a bastante tempo, ela será repassada para o Eduardo

[2022-11-22 20:58] MariaLuizaReviliau opened #1360 "Revisão de prazos e comprometimentos dos solicitantes"
Essa issue tem por objetivo a revisão dos prazos para as demandas (que estão [aqui](https://practice.uffs.edu.br/servico/prazos-de-solicitacao/)), criação de prazos para resposta dos solicitantes (com a possibilidade de cancelamento da demanda caso não tenhamos resposta dentro de 15 dias em nenhum meio de comunicação) e inserção de prazos para cartilha. É uma atividade que será desenvolvida por to

[2022-11-22 21:29] patitrev commented on #1356
@MariaLuizaReviliau estou sem acesso ao youtube, onde está o documento com as senhas?

[2022-11-22 21:48] Saene99 opened #1361 "Ilustração capa Guia dos Estudantes"
Essa issue tem por objetivo ilustrar os elementos da capa do Guia do Estudante.

[2022-11-22 21:49] Saene99 commented on #1361
O elemento a ser ilustrado está na pasta de entrada

[2022-11-22 22:37] amandasegattob commented on #1314
Coloquei o reels de como melhorar o desempenho do PC na pasta. Assim que tiver o ok, faço a legenda.

[2022-11-22 23:00] amandasegattob commented on #1359
Oie! Acelerei o vídeo da Morgana e coloquei no formato p story, está na pasta de entrada.

[2022-11-23 01:21] #1356 closed, assigned to patitrev

[2022-11-23 13:05] Saene99 commented on #1314
Gurias, como a gente tinha combinado em fazermos as texturas para os conteúdos do PRACTICE e fotos/imagens para conteúdos gerais, alterei a capa do reels de como deixar o PC mais rápido. Coloquei nas pastas como "2ª versão". Vejam se gostam :)

[2022-11-23 13:45] Saene99 commented on #1314
Eu não gostei muito do reels das config do PC, acho que podemos repensar em como fazê-lo, pois há várias partes onde a Júlia fica falando e a imagem fica congelada em uma parte aleatória do pc. Uma possível solução para isso é ficar passando a fala na tela toda, como foi feito no reels da pronúncia quando se fala o significado da palavra PRACTICE.

Exemplo: no minuto 0:09 "os computadores apresent

[2022-11-23 14:55] ghost commented on #1314
concordo com a saene, talvez a capa dos títulos possa ficar mais tempo na tela, dai só aparece o computador quando realmente começar a digitar na barra de pesquisa

[2022-11-23 16:59] minieradka commented on #1357
adicionei na pasta de entrada

[2022-11-23 18:22] dreyrobert commented on #1357
Adicionei na pasta minha foto tbm!

[2022-11-23 19:12] #1355 closed, assigned to morgana-mo

[2022-11-23 20:47] Saene99 commented on #1357
Figurinhas prontas na saída!

[2022-11-23 20:53] Saene99 commented on #1359
Inseri fotos e um boomerang da nossa visita ao estúdio de hoje. Semana que vem podemos trabalhá-los nos stories :)

[2022-11-23 23:26] demostheneromane commented on #1357
Foto-Romane
![Romane](https://user-images.githubusercontent.com/92757855/203662932-bdd8fcc1-a373-4546-91f5-5266532c1e72.jpeg)

[2022-11-24 00:46] Saene99 commented on #1314
Acrescentei a nova capa para o reels de como consultar o acervo da biblioteca

[2022-11-24 00:49] marconiryan commented on #1357
coloquei minha foto na pasta de entrada

[2022-11-24 02:18] morgana-mo commented on #1361
Coloquei os clipes na pasta de entrada em formato png, se você quiser posso montar o desenho, mas acho que individualmente eles perdem menos qualidade

[2022-11-24 02:37] marconiryan commented on #1359
Coloquei na pasta de entrada alguns trabalhos realizados no projeto da tour virtual

[2022-11-24 13:32] Saene99 commented on #1357
As figurinhas estão prontas na pasta de saída. @amandasegattob coloquei alguns elementos na pasta de entrada que podem serem utilizados para a criação do reels, fica a sua escolha!

[2022-11-24 14:29] Saene99 commented on #1361
Beleza, obrigada Morgana!

[2022-11-24 14:29] #1361 closed, assigned to morgana-mo, Saene99

[2022-11-24 18:01] #1349 closed, assigned to andregiachini, gustavoSutil, demostheneromane

[2022-11-24 18:01] #1342 closed, assigned to andregiachini, gustavoSutil, demostheneromane

[2022-11-24 18:27] Saene99 commented on #1033
@minieradka deu certo criando uma nova página só com a cartilha, a qualidade fica boa! Mass, alguns elementos estão bugados, como os clips da capa :/ Já fiz de tudo para tentar concertar, pois eles ficam com uma bordinha branca, mas não consegui fazer com que não fique, acho que o problema é o fundo, não sei...

De qualquer forma, a cartilha está pronta na pasta de saída! Gostaria de pedir que pel

[2022-11-24 19:18] minieradka commented on #1033
pois os clips só bugam na primeira pagina na ultima não aparece, outros elementos eu não vi. ficou muitoooo bom parabéeens!!

[2022-11-24 20:17] minieradka opened #1362 "Card informativo Tour Virtual / LS"
objetivo dessa issue é criar os cards contendendo breve informações sobre cada bloco listado no [mapa no figma](https://www.figma.com/file/EWgX5AP6ldkRn1WSN6uk9s/TOUR-VIRTUAL?node-id=1%3A855&t=0N4JZiM2njWlGn4B-0)

1.  Adicionar em um documento nome dos prédios, e setores dentro daquele bloco se baseando nos números da legenda, assim como uma breve descrição;
2.  Fotografar cada prédio e bloco;

[2022-11-24 20:21] minieradka commented on #1362
@julia-zanini acredito que para as fotos da frente pode solicitar a câmera do estúdio se achar necessário

[2022-11-24 20:44] minieradka opened #1363 "Alteração do mapa de Implantação do Campus Ls"
como discutido em reunião precisamos melhorar o mapa de implantação do campus Laranjeiras do Sul criando um padrão para os demais mapas dos campus;
exemplo de mapa: https://www.openstreetmap.org/search?query=uffs%20chapeco#map=16/-27.1161/-52.7084
exemplos de alterações: alterar cores, arrumar os caminhos, criar caminhos de carro e de pedestre, refinar os traços, adicionar ícones (onibus, bibliote

[2022-11-24 20:45] minieradka commented on #1363
posso auxiliar na "refinação" dos elementos do mapa e alguns elementos do design

[2022-11-24 20:56] minieradka opened #1364 "Fotografia campus Ls"
como discutido em reunião, devemos realizar as fotos 360 das entradas/saídas dos blocos e setores inicialmente.

para fins de controle sinalizar quais fotos foram feitas:
- [x] Bloco A;
- [x] Bloco docente/adm;
- [x] Cantina;
- [x] CVT;
- [x] laboratórios;
- [x] R.u;
- [x] almoxarifado;
 listei os principais

[2022-11-24 21:12] minieradka opened #1365 "Criação mapa de implantação campus Chapecó"
objetivo criar os esboços e as estruturas do mapa de implantação do campus Chapecó
 [no figma](https://www.figma.com/file/EWgX5AP6ldkRn1WSN6uk9s/TOUR-VIRTUAL?node-id=162%3A346&t=0N4JZiM2njWlGn4B-0)

[2022-11-25 13:23] robisonjose commented on #1185
coloquei os comentários ainda pertinentes na issue #1230.

[2022-11-25 13:23] #1185 closed, assigned to Dovyski, lcaimi

[2022-11-25 13:38] robisonjose commented on #1230
1. Planilha preenchida;
2. Fotos enviadas;
3. Status da autorização: Ainda não temos autorização "plena".

[2022-11-25 13:40] robisonjose commented on #1230
Coloquei alguns comentários que eu acho pertinentes na planilha

[2022-11-25 13:46] robisonjose commented on #1352
@zorteaadriano vai nos dando um feedback das alterações que forem sendo implementadas.

[2022-11-25 13:48] robisonjose commented on #1230
@amandasegattob te marcando para tu saber que teve atualizações nessa issue.

[2022-11-25 15:05] kamila-rosa commented on #1316
Após receber o feedback do segundo envio da cartilha (primeiro envio com todas as páginas da mesma) realizei os ajustes solicitados e finalizei este trabalho. A cartilha em sua versão final encontra-se [nesta pasta da issue](https://drive.google.com/drive/folders/1j3j3Yh1Iq--6f3l5Y8akocEzAKcSAYVq). Avisarei a solicitante pelo mural, mas peço que a @MariaLuizaReviliau também, se possível, avise a m

[2022-11-25 15:33] Saene99 opened #1366 "Identidade Visual Instagram PRACTICE"
Nessa issue iremos redefinir a Identidade Visual do Instagram do PRACTICE, com maior estratégia de engajamento.

Aqui reformularemos:

- [x] #1367
- [ ] #1368
- [ ] #1369

Escreveremos o [Manual das Redes Sociais](https://docs.google.com/document/d/1hnwNbzZpkIVcuxoAZAaEu4ZYdjSRx-lzhXgaOXXUcEo/edit#) na pasta do Projeto.

[2022-11-25 15:34] Saene99 opened #1367 "Biografia Instagram"
Nessa issue a biografia do Instagram do PRACTICE será repensada

[2022-11-25 15:39] Saene99 opened #1368 "Destaques Instagram"
Nessa issue os destaques do Instagram do PRACTICE serão repensados.

Os materiais gráficos serão criados no [Figma](https://www.figma.com/file/vKsmv9TiwF1RFERsOEs31T/Issues---Instagram?node-id=2340%3A528&t=4F790XHUB3dOsdyy-0).

[2022-11-25 15:40] Saene99 opened #1369 "Feed Instagram"
Nessa issue o feed do Instagram do PRACTICE será repensado.

O documento da ["Id Visual do Instagram - feed"](https://docs.google.com/document/d/1ToUMFe6eC9WxAqHxwmnnoiNd3GmRrrBc2GefJMW0Fow/edit) se encontra na pasta do projeto.

[2022-11-25 16:58] morgana-mo commented on #1033
Solicitação de postagem doo guia realizada [#139](https://github.com/practice-uffs/website-programa/issues/139)

[2022-11-25 17:02] Saene99 opened #1370 "Postagem final de ano"
Nessa issue iremos criar um reels para o final do ano de 2022.

Nesse reels nos despediremos deste ano e divulgaremos os serviços realizados no mesmo. Isso será feito através de uma mensagem, da qual cada bolsista gravará um vídeo seu, falando uma frase.

ORIENTAÇÕES:
- Gravar com o celular no modo vertical;
- Deixar alguns minutos sem falar no início e no final do vídeo para facilitar a edição;
-

[2022-11-25 18:06] morgana-mo commented on #1370
Subi uma rascunho em estilo jogral com frases curtas na pasta de entrada.
temos os dados em números acumulados [aqui](https://docs.google.com/presentation/d/1rgC-2hl32_fE2ng8oMpOaEsz-C4C7Tew/edit#slide=id.p1)
@brendaellen eu e você podemos trabalhar juntas na construção do texto!

[2022-11-26 15:03] amandasegattob commented on #1314
Oii, coloquei o reels de como acessar o acervo da biblioteca na pasta. Achei a letra da legenda pequena, então legendei de novo com uma letra maior. Também coloquei o reels de como melhorar a performance do pc na pasta e já legendei também. Vejam o que acham!

[2022-11-26 15:55] amandasegattob commented on #1333
Oie, coloquei o roteiro do reels do Guia no [documento](https://docs.google.com/document/d/19uRqlMTo559pQSv18XfjT9X2ufpmg6xEb1sEnK_J7KY/edit#`). Eu vi que tinha um textinho de divulgação na pasta, usei algumas partes dele, @brendaellen fica a vontade para modificar o que quiser.

[2022-11-27 05:17] brendaellen commented on #1333
@amandasegattob, dei uma olhada no roteiro e achei que ficou ótimo e bem descontraído. Não modifiquei muitas coisas direto no texto, mas deixei sugestões nos comentários para que você possa analisar, tá bom?!

[2022-11-27 05:30] brendaellen commented on #1370
@morgana-mo, eu gostaria de revisar e comentar na apresentação com os dados, para podermos adaptar no reels. Posso fazer direto nessa apresentação, ou preciso criar uma cópia?

[2022-11-27 05:46] brendaellen commented on #1333
Inseri na [pasta de saída](https://drive.google.com/drive/folders/1f6dCfnEOxAjy0mUILDliuvUonaY3EiYY) a descrição do Guia do Estudante, que será colocada no site.

[2022-11-27 05:50] morgana-mo commented on #1370
Oi Brenda!
Pode fazer direto !

[2022-11-27 06:03] brendaellen commented on #1033
A palavra "manual" aparece 4 vezes no início do material, e na página 41 faltou o espaço antes do parágrafo.
Caso o dev ainda não tenha subido para o site, fazer essas alterações.
No mais, tá tudo maravilhoso s2

[2022-11-27 06:40] brendaellen commented on #1314
Inseri nessa [pasta](https://drive.google.com/drive/folders/1Ha1fLPMcKX-JFlCAx71wcMuS6TZA3hAh) o conteúdo dos stories sobre a campanha Como eu Faço. Qualquer dúvida, podem me perguntar ;)

[2022-11-28 11:52] Saene99 commented on #1033
Alterações realizadas, Brenda. Então acredito que o trabalho de diagramação esteja finalizado :)

[2022-11-28 12:15] Saene99 commented on #1314
Oii gurias. Achei o conteúdo dos stories bem legal, Brenda.

Sobre os reels, acho que o da biblioteca está bem legal. Sobre o das config do PC eu ainda não estou gostando dele, acho que o público não vai querer ver :/ não está despertando interesse, está muito longo e por mais que essa versão tenha ficado melhor que a anterior, mesmo assim fica tempo de mais uma pessoa falando e uma tela congelada

[2022-11-28 12:34] Saene99 commented on #1333
Adorei o roteiro!!

[2022-11-28 14:36] robisonjose commented on #1346
@Saene99 essa issue que eu comentei que havia colocado alguns posts que poderiam ser pensados

[2022-11-28 20:16] kamila-rosa commented on #1290
A solicitante da demanda entrou em contato pelo e-mail de demandas do PRACTICE:
_"Prezados (as)_
_**O grupo aprovou a segunda logo.** A primeira e a terceira não fazem sentido para o nosso grupo de pesquisa em políticas, não temos pesquisa de laboratório._
_Mas, a segunda logo, todos gostaram e aprovaram._
_Qual o encaminhamento agora?_

_At.te Profa. Daniela Savi Geremia"_

Como fazem muitos dias

[2022-11-29 02:59] ghost commented on #1314
eu acho que o reels de configurações do PC tem que ser um carrossel... por mais que o que o pessoal mais vê é reels, no caso desse conteúdo acho que como reels não ficou muito bom mesmo...

[2022-11-29 13:56] kamila-rosa commented on #1272
Em 24 de novembro o solicitante respondeu-nos no e-mail de demandas do PRACTICE:
_"Olá Practice. Agradeço o envio. Em conversa com o prof. Radin, definimos a logo 01. Apenas comentamos das variações e a aplicação nos produtos, como camiseta, folha de ofício, redes sociais, etc._
_Seguimos, abraços._
_Joel Felipe Guidani"_

Trabalharei com a entrega final da Identidade Visual 1[ nesta página do fig

[2022-11-29 14:41] Saene99 commented on #1314
Vamos falar sobre ele na próxima reunião

[2022-11-29 14:57] Saene99 commented on #1333
@brendaellen a legenda do dezembro laranja e vermelho está pronta? O status dela está "revisado", mas como tem alguns comentários sem resolver fiquem com dúvida

[2022-11-29 14:58] ghost commented on #1314
a saene me ajudou a concluir o post da parceria do practice com o sae de chapecó. está programado para ser postado amanhã, mas quem quiser dar palpite, está aqui [nessa pasta](https://drive.google.com/drive/folders/1g29WUAjWFCGNhrSXidPbRqXg_6tZ9zTO). eu gostei bastante, achei que as coisas que ela acrescentou ficaram muito boas!

[2022-11-29 15:06] ghost commented on #1333
fiz a [capa do reels](https://drive.google.com/drive/folders/1iagDGA6nSAbbIC5_wYSe64a-cyF-RtJB) de divulgação do guia, mas acho que falta algo, não gostei muito de como está. me deem palpites?

[2022-11-29 18:57] Saene99 commented on #1333
A ideia está bem legal, mas acho que a escrita está muito grande. Também temos que ter a percepção de como ele ficará visível no feed em 1080x1080. Amanhã coloco algumas contribuições no Figma :D

[2022-11-29 21:23] amandasegattob commented on #1314
Eu achei ótimo!! Parabéns gurias!!!

[2022-11-29 21:27] amandasegattob commented on #1333
Eu gostei. Não consegui pensar em nada para ser alterado.

Eu gostei como está. Talvez mudaria o laranja só, o nosso feed tem bastante coisa em laranja já.

[2022-11-30 00:52] kamila-rosa opened #1371 "Live "Diagnóstico de Percepções sobre o Programa de Gestão e Desempenho da UFFS"; 01/12/22 às 14h"
<h1 align="center" >Informações da Transmissão Ao Vivo</h1>

**Titulo**: Diagnóstico de Percepções sobre o Programa de Gestão e Desempenho da UFFS

**Data e Hora**: 01/12/22 às 14h

**Evento Geral** (se houver): Diagnóstico de Percepções sobre o Programa de Gestão e Desempenho da UFFS

**Solicitante**: Claunir Pavan

**Realizador(es)**: Comissão Permanente de Acompanhamento do Programa de Gestão e

[2022-11-30 13:05] Saene99 commented on #1357
Obrigada pela participação, pessoal. O resultado ficou muito bom!!

[2022-11-30 13:05] #1357 closed, assigned to andregiachini, amandasegattob, brendaellen, zorteaadriano, gustavoSutil, marconiryan, demostheneromane, dreyrobert, Saene99

[2022-11-30 15:53] #797 closed

[2022-11-30 15:59] morgana-mo opened #1372 "Novo modelo de relatório semestral"
É necessário um novo modelo de relatório tendo em vista a nova organização do trabalho por projeto, deve conter:

- [x] Avaliação do trabalho dentro do projeto
- [x] Aruação do líder do projeto

[2022-11-30 17:01] #1340 closed, assigned to robisonjose, morgana-mo, zorteaadriano

[2022-11-30 17:15] Saene99 commented on #1333
@julia-zanini fiz algumas sugestões na capa do reels do guia lá no figma, usa o que achar melhor.

@amandasegattob e @brendaellen fiz o post do [dezembro laranja e vermelho](https://drive.google.com/drive/folders/1ejXK-GDFn6WyWc-mhZNpNSM3sltGsmNO) e apesar da Júlia ter achado bom eu achei simplesmente horrível, não tenho coragem de postar aquilo kkkkk queria ver se vocês concordam em transformar o

[2022-11-30 18:10] kamila-rosa commented on #1272
A ID Visual está finalizada e todos os componentes para entrega final estão [nesta pasta da issue](https://drive.google.com/drive/folders/1WA0nbJ4RgMXPKzqJVIQTiZEa2JWuAyeq). Avisarei os solicitantes pelo mural e pelo email de demandas do PRACTICE. ;)

[2022-11-30 18:20] amandasegattob commented on #1333
@Saene99 eu não achei feio não, só não gostei muito do lacinho daquele jeito. Eu concordo em fazer story, acho bom começar a deixar nosso feed "mais limpo".

[2022-11-30 18:32] amandasegattob opened #1373 "FAQ Estúdios"
Essa issue tem como objetivo o compartilhamento de dúvidas, sugestões e dicas sobre os Estúdios.

[2022-11-30 18:46] amandasegattob commented on #1237
Boa tarde, @robisonjose e @Saene99, os vídeos testes podem ser colocados nessa issue. Tem algumas sugestões na descrição.

[2022-11-30 18:47] amandasegattob commented on #1234
Boa tarde, @morgana-mo! Os vídeos testes podem ser colocados nessa issue. Tem algumas sugestões na descrição.

[2022-11-30 18:52] amandasegattob commented on #1236
Boa tarde, @julia-zanini! Os vídeos testes podem ser colocados nessa issue. Tem algumas sugestões na descrição

[2022-11-30 18:55] amandasegattob commented on #1235
Boa tarde, @luizatonial e @brendaellen. Os vídeos testes podem ser colocados nessa issue. Tem algumas sugestões na descrição.

[2022-11-30 19:02] luizatonial commented on #1365
atividade já iniciada no figma

[2022-11-30 19:03] amandasegattob commented on #1270
Apenas para atualização: já passei os 4 vídeos para o outro canal no YT, coloquei as descrições, capas e as marcações de tempo.
@brendaellen assim que você conseguir revisar as legendas, avisa aqui para podermos postar.

[2022-11-30 20:00] luizatonial opened #1374 "Criação mapa de implantação campus Erechim"
objetivo criar os esboços e as estruturas do mapa de implantação do campus Erechim
[no figma](https://www.figma.com/file/EWgX5AP6ldkRn1WSN6uk9s/TOUR-VIRTUAL?node-id=162%3A346&t=0N4JZiM2njWlGn4B-0)

[2022-11-30 20:01] luizatonial commented on #1374
iniciei os esboços tbm no figma

[2022-11-30 22:39] kamila-rosa commented on #1316
Após nova revisão da solicitante, realizei os ajustes solicitados e inseri a cartilha atualizada [nesta pasta da issue](https://drive.google.com/drive/folders/1j3j3Yh1Iq--6f3l5Y8akocEzAKcSAYVq). Avisarei a solicitante pelo WhatsApp do PRACTICE e pelo mural.